<extend name="Layout/ins_page" />
<block name="content">
<style>
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    vertical-align: bottom;
}

#admin_form .table > thead > tr > th,
#admin_form .table > tbody > tr > th,
#admin_form .table > tfoot > tr > th,
#admin_form .table > thead > tr > td,
#admin_form .table > tbody > tr > td,
#admin_form .table > tfoot > tr > td {
    vertical-align: middle;
}

.loading {
    position: fixed; width: 100%; height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .2);
    background-image: url(__INS__/img/loading.gif);
    background-position: center 300px;
    background-repeat: no-repeat;
    background-size: 50px;
    display: none;
    z-index: 5000;
}

#admin_form table.table>thead>tr>th,
#admin_form table.table>tbody>tr>td {
    text-align: center;
}

#admin_form {
    max-height: 500px;
}

tr input[type=checkbox] {
    width: 1.3em;
}

.export {
    width:100%;
    max-width:250px;
    float: left;
    margin-right: 10px;
}

.sbtbox {
    outline: 1px #E5E6E7 solid;
    display: inline-block;
    width: 510px;
    float: left;
    margin-right: 10px;
}

.sbtbox>div {
    height: 39px;
    padding-left: 8px;
    padding-top: 5px;
}

.sbtbox>div>.export {
    max-width: 230px;
}

</style>
{:W('PageHeader/finance',array('name'=>$title,'search'=>'N'))}
<div class="operate panel panel-default">
    <div class="panel-body" id="form_box">
        <h3 style="text-align:center">{$name}-{$std_id}</h3>
        <form class="apply_form" id="old_form" action="#">
            <div class="table-responsive">
                <table class="table" align="center" style="width: 100%;">
                    <tr>
                        <td>
                            <div class="input-group export">
                                <span class="input-group-addon">姓名</span>
                                <input class="form-control" type="text" value="{$name}" disabled>
                            </div>
                            <div class="input-group export">
                                <span class="input-group-addon">学号</span>
                                <input class="form-control" type="text" value="{$std_id}" disabled>
                            </div>
                            <div class="input-group export" style="max-width:370px;">
                                <span class="input-group-addon">方案</span>
                                <input class="form-control" type="text" value="{$plan_name}" disabled>
                            </div>
                            <div class="input-group export">
                                <span class="input-group-addon">教学主任</span>
                                <input type="text" name="price" class="form-control" value="{$director}" disabled />
                            </div>
                            <div class="input-group export">
                                <span class="input-group-addon">学管师</span>
                                <input type="text" name="price" class="form-control" value="{$manager}" disabled />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group export">
                                <span class="input-group-addon">单价（￥）</span>
                               <input type="text" name="unitprice" class="form-control" value="{$unitprice}" disabled />
                            </div>
                            <div class="input-group export" data-toggle="tooltip" data-placement="top" title="{$unitprice} X {$factor}">
                                <span class="input-group-addon">实际单价（￥）</span>
                                <input type="text" name="unitprice_real" class="form-control" value="{$unitprice_real}" disabled />
                            </div>
<!--                             <div class="input-group export">
                                <span class="input-group-addon">折扣</span>
                                <input type="text" name="ext_hour" class="form-control" disabled value="{$factor}" />
                            </div>
 -->                            <div class="input-group export">
                                <span class="input-group-addon">订购课时</span>
                                <input type="text" name="hour" class="form-control" disabled value="{$hour} + {$ext_hour}" />
                            </div>
                            <div class="input-group export">
                                <span class="input-group-addon">已上课时</span>
                                <input type="text" name="ext_hour" class="form-control" disabled value="{$used_hour}" />
                            </div>
                            <div class="input-group export">
                                <span class="input-group-addon">拟定赠送课时</span>
                                <input type="text" name="forext_hour" class="form-control" value="{$forext_hour}" disabled />
                            </div>
                            <div class="input-group export">
                                <span class="input-group-addon">价格（￥）</span>
                                <input type="text" name="price" class="form-control" value="{$price}" disabled />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="sbtbox" style="width:250px">
                                <h4 style="text-align: center">科目教师</h4>
                                <p style="text-align:center">{$subject_teacher}</p>
                            </div>
                            <div class="input-group export" data-toggle="tooltip" data-placement="top" title="{$return_info}">
                                <span class="input-group-addon">退费金额（￥）</span>
                                <input type="text" id="return_value" name="return_value" class="form-control" value="{$return_value}" disabled />
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
        <hr />
        <h3 style="text-align:center">转课</h3>
        <form class="apply_form" id="apply_form" action="#">
            <input type="hidden" name="old_id" value="{$id}" />
            <input type="hidden" name="from" value="{$from}" />
            <input type="hidden" name="std_id" value="{$std_id}" />
            <input type="hidden" name="name" value="{$name}" />
            <input type="hidden" name="factor" value="1" />
            <div class="table-responsive">
                <table class="table" align="center" style="width: 100%;">
                    <tr>
                        <td>
                            <div class="input-group export">
                                <span class="input-group-addon">学校</span>
                                <select class="form-control" name="school" required>
                                    <option value="">请选择</option>
                                    {:fill_option_ex($schoolList)}
                                </select>
                            </div>
                            <div class="input-group export">
                                <span class="input-group-addon">年级</span>
                                <select class="form-control" name="grade" required>
                                    <option value="">请选择</option>
                                    {:fill_option_ex($gradeList)}
                                </select>
                            </div>
                            <div class="input-group export">
                                <span class="input-group-addon">课程</span>
                                <select class="form-control" name="course" required>
                                    <option value="">请选择</option>
                                    {:fill_option_ex($courseList)}
                                </select>
                            </div>
                            <div class="input-group export">
                                <span class="input-group-addon">级别</span>
                                <select class="form-control" name="level" required>
                                    <option value="">请选择</option>
                                    {:fill_option_ex($teacherLevelList)}
                                </select>
                            </div>
                            <div class="input-group export">
                                <span class="input-group-addon">学员类型</span>
                                <select class="form-control" name="std_type">
                                    {:fill_option_ex($stdTypeList)}
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group export">
                                <span class="input-group-addon">单价（￥）</span>
                               <input type="text" name="unitprice" class="form-control" readonly />
                            </div>
                            <div class="input-group export">
                                <span class="input-group-addon">课时</span>
                                <input type="number" name="hour" min="0" step="0.1" class="form-control" />
                            </div>
                            <div class="input-group export">
                                <span class="input-group-addon">赠送课时</span>
                                <input type="number" name="ext_hour" min="0" step="0.1" class="form-control" readonly />
                            </div>
                            <div class="input-group export">
                                <span class="input-group-addon">折扣</span>
                                <select class="form-control" name="dis">
                                    <option value="0">无</option>
                                    {:fill_option_ex($disList)}
                                    <!--option value="-1">申请折扣</option-->
                                </select>
                            </div>
                            <div class="input-group export">
                                <span class="input-group-addon">价格（￥）</span>
                                <input type="text" id="due_price" name="price" class="form-control" readonly />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="sbtbox">
                                <h4 style="text-align: center">科目教师</h4>
                                <button onclick="addSbt($(this));return false;" style="outline:none;display: block; text-align: center; width: 100%; font-size: 25px;" type="button" class="close"><span aria-hidden="true">+</span></button>
                            </div>
                            <div class="input-group export">
                                <span class="input-group-addon">教学主任</span>
                                <select class="form-control" name="director" required>
                                    {:fill_option_ex($teacherList)}
                                </select>
                            </div>
                            <div class="input-group export">
                                <span class="input-group-addon">学管师</span>
                                <select class="form-control" name="manager" required>
                                    {:fill_option_ex($teacherList)}
                                </select>
                            </div>
                            <div class="input-group export">
                                <span class="input-group-addon">备注</span>
                                <input name="remark" class="form-control" />
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>

<div class="operate panel panel-default">
    <div class="panel-body">
        <form id="pay_form" action="#" method="post">
            <input type="hidden" name="std_id" value="{$std_id}" />
            <input type="hidden" name="name" value="{$name}" />

            <div class="pull-right">
                <div class="input-group export">
                    <span class="input-group-addon">收款人</span>
                    <input id="emp" class="form-control" type="text" name="emp" value="{:session('user_name')}" readonly required />
                </div>
                <div class="input-group export">
                    <span class="input-group-addon">差价（￥）</span>
                    <input id="pay_due" class="form-control" type="text" name="pay_due" value="0.00" required readonly />
                </div>
                <div class="input-group export">
                    <span class="input-group-addon">账户余额：（￥）</span>
                    <input class="form-control" data-toggle="tooltip" data-placement="top" value="{$balance}"  type="number" min="0" step="0.01" name="pay_real"  readonly />
                </div>
                <div class="input-group export">
                    <span class="input-group-addon">备注</span>
                    <input class="form-control" type="text" name="remark" />
                </div>
                <button id="submit-button" class="btn btn-primary">确定提交</button>
            </div>
        </form>
    </div>
</div>
<nav style="text-align: right; float:right;margin-right: 10px;">
    <ul class="pagination"></ul>
</nav>
<div class="loading"></div>
</block>

<block name="js">
<script type="text/javascript">
pageInit = 0;
pageCount = '{$pageCount}';
from = '{$from}';
g_search = '';

$(document).ready(function($){
    $('#data-list').on('click', 'tr', function(){
        $(this).find('input[type=checkbox]').click();
    });

    $('#data-list').on('click', 'input[type=checkbox]', function(e){
        e.stopPropagation();
    });

    $('#data-list').on('click', '.todrop', function(event) {
        winopen(fix_url("{:U($controller.'/drop')}?id=" + $(this).data('id')), 730, 500);
        return false;
    });

    $('#data-list').on('click', '.torenewal', function(event) {
        winopen(fix_url("{:U($controller.'/renewal')}?id=" + $(this).data('id')), 730, 500);
        return false;
    });

    $('#cancel-button').click(function(event){
        clearForm();
        return false;
    });

    $("#check-all").click(function(){
        $("input[name='id[]']").prop("checked", $(this).prop("checked"));
    });

    $('#form_box').on('change', 'input[name=hour],select[name=dis],select[name=school],select[name=grade],select[name=course],select[name=level],select[name=subject],select[name="subject[]"]', function(){
        var timeid = $(this).data('timeid');
        var thisObj = $(this);
        doAjax('{:U($controller."/getPrice")}', $('#apply_form').serialize()+'&subject_id='+$(this).filter('select[name="subject[]"]').val(), 'GET', function(result) {
            thisObj.parent().next().children('select[name="teacher[]"]').html(fillOptionArH(result.data));
            $('#apply_form select[name=teacher]').html(fillOptionArH(result.data));
            $('#apply_form select[name=director]').html(fillOptionAr(result.school_director));
            $('#apply_form select[name=manager]').html(fillOptionAr(result.school_manager));
            $('#apply_form input[name=ext_hour]').val(result.ext_hour);
            $('#apply_form input[name=price]').val(result.price);
            $('#apply_form input[name=factor]').val(result.factor);
            $('#apply_form input[name=unitprice]').val('0.00');
            for(var x in result.data){
                $('#apply_form input[name=unitprice]').val(result.data[x].price);
            }

            $('#pay_due').val((Number($('#due_price').val())-Number($('#return_value').val())).toFixed(2));
        });
    });

    $('#form_box').on('change', 'select[name=subject]', function(){
        $('#form_box input[name=add_hour]').change();
    });

    $('#pay_form').submit(function(event) {
        if (Number($('#apply_form').find('input[name=price]').val()) <= 0.00){
            ui_error('选课错误！');
            return false;
        }

        data = {};
        data.pay_info = JSON.stringify($('#pay_form').serializeJson())
        data.new = JSON.stringify($('#apply_form').serializeJson())

        doAjax('{:U("Courses/changeCourse")}', data, 'POST', function(result){
            ui_info(result.info);
            history.back();
        });
        return false;
    });

    $(document).on('click', '.del_sbt', function() {
        $(this).parent().remove();

        return false;
    });

    $('#form_box').on('change', 'select[name=school],select[name=grade],select[name=course],select[name=level]', function(){

        $('.sbtbox').children('div').remove();
    });

    $('[data-toggle="tooltip"]').tooltip();
    $('#form_box input[name=add_hour]').change();
    initPage();
});

function addSbt(obj) {
    obj.before('<div>\
                    <button class="del_sbt close" style="margin-left: 2px;margin-right: 2px;float:left;right:4px;top:5px;position:relative;" type="button"><span aria-hidden="true">×</span></button>\
                    <div class="input-group export">\
                        <span class="input-group-addon">科目</span>\
                        <select class="form-control" name="subject[]" required>\
                            <option value="">请选择</option>\
                            {:fill_option_ex($subjectList)}\
                        </select>\
                    </div>\
                    <div class="input-group export">\
                        <span class="input-group-addon">教师</span>\
                        <select class="form-control" name="teacher[]" required>\
                            <option value="">请选择</option>\
                            {:fill_option_ex($teacherList)}\
                        </select>\
                    </div>\
                            </div>');
}

function initPage(){
    g_start = pageInit;
    g_count = pageCount;
}

function doAjax(url, params, method, callback){
    $('.loading').show();
    $.ajax({
        url: url,
        type: method,
        dataType: 'JSON',
        data: params,
    })
    .done(function(result){
        if(result.state == 'ok'){
            callback(result);
        }else{
            ui_error(result.info);
        }
    })
    .fail(function(){
        alert('网络错误！');
    })
    .always(function(){
        $('.loading').fadeOut();
    });
}

function fillOptionArH(list, id){
    var html = '<option value="">请选择</option>';
    for(x in list){
        var selected = '';
        if(list[x].uid == id){
            selected = ' selected';
        }
        html += '<option value="'+list[x].uid+'" '+selected+'>'+list[x].teacher+'</option>';
    }
   return html;
}

function fillOptionAr(list, id){
    var html = "";
    for(x in list){
        var selected = '';
        if(list[x].id == id){
            selected = ' selected';
        }
        html += '<option value="'+list[x].id+'" '+selected+'>'+list[x].name+'</option>';
    }
   return html;
}

function fillOptionArEx(list, id){
    var html = '<option value="_all_">全部</option>';
    html += fillOptionAr(list, id);
    return html;
}

(function($){
    $.fn.serializeJson = function(){
        var serializeObj = {};
        var array = this.serializeArray();
        var str = this.serialize();
        $(array).each(function(){
            if(serializeObj[this.name]){
                if($.isArray(serializeObj[this.name])){
                    serializeObj[this.name].push(this.value);
                }else{
                    serializeObj[this.name] = [serializeObj[this.name],this.value];
                }
            }else{
                serializeObj[this.name] = this.value;
            }
        });
        return serializeObj;
    };
})(jQuery);
</script>
</block>
