<extend name="Layout/ins_page" />
<block name="content">
<style>
.input-group{margin: 10px 0;}
#apply_form li{ width: 200px;float: left;margin: 5px;list-style: none;font-weight: bold;}
.table-responsive{max-height: 500px;overflow: auto;}
#apply_list{min-width: 3000px;}
.pagination {margin: 0;} 
.td_dept_name{width: 120px;}
.td_info{white-space: inherit !important;word-wrap:break-word;word-break:break-all;max-width: 500px;}
.td_other{white-space: inherit !important;word-wrap:break-word;word-break:break-all;max-width: 500px;}
.notes{white-space: inherit !important;word-wrap:break-word;word-break:break-all;max-width: 300px;}
.money_time,.td_update_time,.td_create_time{width: 155px;}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 15px;
    height: 20px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(35,198,200,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(35,198,200,0.4); 
}

</style>

<div class="page-header clearfix">
    <div class="col-sm-3">
    	<if condition="ACTION_NAME == 'index'">
    		<h1>满意度抽查申请</h1>
    		<elseif condition="ACTION_NAME == 'examine'"/>
    		<h1>满意度抽查审核</h1>
    		<else/><h1>满意度抽查数据管理</h1>
    	</if>
    </div>
    <if condition="($_SESSION['auth_id'] eq '1')">
    <div class="col-sm-12">
        <a class="btn btn-sm btn-success pull-right" onclick="toggle_adv_search();"><i id="toggle_adv_search_icon" class="fa fa-chevron-down bigger-125"></i></a>
    </div>
    </if>
</div>

<form class="panel panel-default hidden" id="adv_search" method="post" action="{:U('export')}">
<input type="hidden" name="stage" value="<switch name="ACTION_NAME"><case value="index">1</case><case value="apply">2</case><case value="cost">3</case><case value="examine">4</case><case value="manage">5</case></switch>">
 <if condition="($_SESSION['auth_id'] eq '1')">
<!-- 搜索部分 -->

    <div class="panel-heading">
        
        <div class="row">
            <h4 class="col-xs-6">高级搜索</h4>
            <div class="col-xs-6 text-right">
                <a class="btn btn-info" onclick="loadData(0)">筛选</a>
                <if condition="(ACTION_NAME eq 'manage')"><button type="submit" class="btn btn-info">导出</button></if>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="form-inline">
           
            <div class="input-group">
                <a class="input-group-addon">检查日期</a>
                <input name="date1" type="date" class="form-control">
                <a class="input-group-addon">-</a>
                <input name="date2" type="date" class="form-control">
            </div>
            
            <div class="input-group">
                <a class="input-group-addon">整改月度</a>
                <input type="month" name="apply_month" class="form-control"  value="{$month}"/>
            </div>
            
            <div class="input-group">
                <a class="input-group-addon">审核状态</a>
                <select name="state" class="form-control"><option value="">全部</option>{:fill_option_ex(get_config('INSPECT_STATE'))}</select>
            </div>
            
            <div class="input-group">
                <a class="input-group-addon">流程状态</a>
                <select name="back" class="form-control"><option value="">全部</option><option value="0">正常</option><option value="1">退回</option></select>
            </div>
            
            <div class="input-group">
                    <a class="input-group-addon">区域</a>
                    <select name="area" class="form-control"><option value="">请选择区域</option>{:fill_option_ex(get_config('SCHOOL_REGION'))}</select>
            </div>
                  
            <div class="input-group">
                 <a class="input-group-addon">申请校区</a>
                 <select name="apply_school" class="form-control">
                 	<option value="">全部</option>
           			{:fill_option_ex(C('SCHOOL'))}
                 </select>
            </div>
            
            <div class="input-group col-15">
                <a class="input-group-addon">序号</a>
                <input name="id" class="form-control">
            </div>
            
        </div>
    </div>
    </if>
</form>

<!-- 录入修改部分 -->
<form id="apply_form"  enctype="multipart/form-data" method="post"  class="panel panel-default" <if condition="ACTION_NAME neq 'index'">style="display:none;"</if> action="{:U('write')}">
    <div class="panel-heading">
        <div class="pull-right">
            <if condition="ACTION_NAME eq 'index'"><button type="submit" class="btn btn-danger" id="bt_add">保存</button></if>
            <button type="submit" class="btn btn-danger" style="display:none;" id="bt_save_change">保存</button>&nbsp;
            <button type="reset" class="btn btn-danger" onclick="$('#apply_list .success').removeClass('success');$('input[type=hidden]').val('');">清空</button>
        </div>
        <h3>申请/修改 </h3>
    </div>
    <div class="panel-body">
        <ul><input type="hidden" name="id">
        	<if condition="(ACTION_NAME eq 'examine') AND (session('position_id') == '10')">
            	<li style="width:400px;">解决问题反馈内容<font color="red">*</font>：<textarea rows="3" cols="" name="resolve_content" class="form-control" maxlength="200" required ></textarea></li>
            <else/>
            
            <li>提报月度<font color="red">*</font>：<input type="month" name="apply_month" class="form-control" required value="{$month}"/></li>
            <li>区域<font color="red">*</font>：<select id="school_area" name="area" class="form-control" required><option value="">请选择区域</option>{:fill_option_ex(get_config('SCHOOL_REGION'))}</select></li>
            <li>校区<font color="red">*</font>：<select id="apply_school" name="apply_school" class="form-control" required ><option value="">请选择校区</option>
            	<foreach name="sch_lst" item="sc">
            		<option value="{$sc.id}" opt="{$sc.region}">{$sc.name}</option>
            	</foreach>
            </select>
            </li>
            <li>
            	学习管理师<select name="teacher"  class="form-control" required>
            			<option value="">请选择学习管理师</option>
            			<foreach name="sg_lst" item="sc">
		            		<option value="{$sc.id}">{$sc.name}</option>
		            	</foreach>
            		  </select>
            </li>
            <li>
            	学员<input type="text" name="student"  class="form-control" required/>
            </li>
            
            <li>解决问题反馈<font color="red">*</font>：<select name="resolve" class="form-control" required><option value="">请选择是否解决问题</option><option>是</option><option>否</option></select></li>
            <li>问题1<select name="question1" class="form-control" required><option value="0">0分</option><option value="3">3分</option><option value="5">5分</option></select></li>
            <li>问题2<select name="question2" class="form-control" required><option value="0">0分</option><option value="3">3分</option><option value="5">5分</option></select></li>
            <li>问题3<select name="question3" class="form-control" required><option value="0">0分</option><option value="3">3分</option><option value="5">5分</option></select></li>
            <li>问题4<select name="question4" class="form-control" required><option value="0">0分</option><option value="3">3分</option><option value="5">5分</option></select></li>
            <li>问题5<select name="question5" class="form-control" required><option value="0">0分</option><option value="3">3分</option><option value="5">5分</option></select></li>
            <li>问题6<select name="question6" class="form-control" required><option value="0">0分</option><option value="3">3分</option><option value="5">5分</option></select></li>
            <li>问题7<select name="question7" class="form-control" required><option value="0">0分</option><option value="3">3分</option><option value="5">5分</option></select></li>
            <li>问题8<select name="question8" class="form-control" required><option value="0">0分</option><option value="3">3分</option><option value="5">5分</option></select></li>
            <li>问题9<select name="question9" class="form-control" required><option value="0">0分</option><option value="3">3分</option><option value="5">5分</option></select></li>
            <li>问题10<select name="question10" class="form-control" required><option value="0">0分</option><option value="3">3分</option><option value="5">5分</option></select></li>
            <li>学管师维护得分<input type="number" class="form-control" min="0" step="0.01" name="xg_score"/></li>
            <li>校区得分<input type="number" class="form-control" min="0" step="0.01" name="school_score"/></li>
            <li>抽查方式<select name="spot_way" class="form-control" required><option value="">请选择抽查方式</option><option>电话回访</option><option>电话投诉</option></select></li>
            <li style="width:400px;">沟通内容反馈<font color="red">*</font>：<textarea rows="3" cols="" name="feedback" class="form-control" maxlength="200" required ></textarea></li>
            </if>
	       </ul>
    </div>
</form>
           
<!-- 审核相关按钮 -->
<div class="panel panel-default">
    <div class="panel-body">
        <if condition="ACTION_NAME eq 'index'"><button class="btn btn-info" onclick="check(1);">提交</button>&nbsp;&nbsp;<button class="btn btn-info" id="bt_change">修改</button></if>

        <if condition="(ACTION_NAME eq 'examine')">
        	<if condition="($_SESSION.position_id eq '18')">   
            	<button class="btn btn-info" onclick="check(1);">无异议通过</button>
            	<else/>
            	<button class="btn btn-info" onclick="check(1);">通过</button>
            </if>
        	<if condition="($_SESSION.position_id eq '18')">    
            	<button class="btn btn-info" onclick="check(0);">有异议退回</button>
            </if>
            <if condition="(ACTION_NAME eq 'examine') AND ($_SESSION.position_id eq '10')">    
            	<button class="btn btn-info" id="bt_change">修改</button><br/><br/>
            </if>
        </if>
    </div>
</div>

<!-- 页面数据列表 -->

<div class="btn btn-info">申请流程：客服专员=》学习管理师确认=》校长确认=>区域总监确认=>客服专员确认</div>

<div class="table-responsive">
    <table id="apply_list" class="table table-bordered table-hover table-condensed">
    </table>
</div>

<!-- 底部数据统计以及页码 -->
<div class="panel-body">
    <ul id="pagination" class="pagination pull-right" data-offset="0" data-count="30" data-total="300">
    </ul>
</div>

</block>
<block name="js">
<script type="text/javascript">

	// 页面会用到的类型id
	STATE={:json_encode(get_config('SATISFACT_STATE'))};//审核状态
	
	$(document).ready(function(){
	    loadData(0);//页面数据加载
	});
	
	
	$('#apply_school option').hide();
	  /**
	  	校区与校长 select联动
	  */
	  $('#school_area').change(function(){
		  //$($('#service_master option')[1]).attr('opt')
		  var schId = $(this).val();
		  $('#apply_school option').show();
		  $('#apply_school option').each(function(n,obj){
			  
			  if($(this).attr('opt') != schId){
				  $(this).hide();
			  }
		  });
		  $(this).val()
	  });
	
    // 页码绑定事件
    $('#pagination').on('click', '.page', function(){
        var page_offset = ($(this).data('page') - 1) * $('#pagination').data('count');
        loadData(page_offset);
    });
    
    
    /* //添加/修改申请
    $("#apply_form").submit(function(event){
        event.preventDefault();
        
        Ycom.loading.show();
        var data = $("#apply_form").serializeArray();
        $.post("{:U('write')}",data,function(msg){
            loadData(0);
            ui_info(msg);
        });
        //清空表单（忽略部分项目）
        Ycom.clearForm('#apply_form','[name=school],[name=tel],[name=apply_user],[name=count],[name=expect_date],[name=apply_uses],[name=product_form],[name=type],[name=size],[name=is_plan],[name=descp],[name=position[]],[name=references[]]');
        resetFileComponent();
        $("#bt_add").show();
        $("#bt_save_change").hide();
    }) */
    // 数据列表点击事件
    $("#apply_list").on('click','tbody tr',function(){
        $("#apply_list tr").removeClass('success');
        $(this).addClass('success');
    });
    //全选/取消
    $("#apply_list").on('click','#checkbox',function(){
        $("#apply_list tbody input[type=checkbox]").prop('checked',($(this).prop('checked')==true)?true:false);
    });
    //修改功能,只修改其中一个
    $("#bt_change").click(function(){
        var id = $("#apply_list tbody input:checked").val();
        var data = $("#apply_list tbody input:checked").data('info');
        if(id==undefined){
            ui_error('请选择要修改的项目！');
        }else{
            $("#apply_form").show();
            Ycom.fillForm('#apply_form',data);
            $('#bt_save_change').show();
            $('#bt_add').hide();
        }
    });
    //审核数据(1通过、0退回、-1删除)
    function check(type){
        if($("#apply_list tbody input:checked").val()==undefined){
            ui_error('请选择要操作的项目！');
            return;
        }
        Ycom.loading.show();
        var data = $("#apply_list tbody input:checked").serializeJson();
        
        var record = $("#apply_list tbody input:checked").data('info');
        debugger;
        if((record.state == '20') && (record.resolve == '是')  && ($.isEmptyObject(record.resolve_content))&& ({$_SESSION['position_id']} == 10)){
        	Ycom.loading.hide();
        	ui_error("请先修改记录，填写解决问题反馈内容！");
        	return;
        }
        var why = '';
        if(type==0){
            why = prompt('退回原因(必填)：','');
            if(why==''||why==null){
                Ycom.loading.hide();
                return;
            }
        }
        if(data.id!=undefined)
        $.post('{:U("check")}',{type:type,data:data,why:why},function(msg){
            if(msg=='ok')ui_info('操作成功');
            loadData(0);
        })
    }
    

//加载数据列表
function loadData(offset) {
    Ycom.loading.show();
    var search = $('#adv_search').serializeJson();
    var count = $('#pagination').data('count');
    var money = 0 ;//项目合计金额
    $.ajax({
        url: '{:U("Satisfact/ajax_list")}',
        type: 'GET',
        dataType: 'JSON',
        data: {search: search, offset: offset, count: count},
    })
    .done(function(result) {
        for(var x in result.data){
            //将数据完整保存在checkbox上，方便修改功能使用
            result.data[x]._checkbox = '<input type="checkbox" name="id" value="'+result.data[x].id+'" data-info=\''+JSON.stringify(result.data[x])+'\'>';
            if(result.data[x].edit == '0')result.data[x]._checkbox ='';
            //result.data[x].stage = (result.data[x].state<60)?'计划申请':(result.data[x].state<90)?'资金申请':'报销申请';
                //被退回的数据显示退回的原因
            if(result.data[x].back==1){
                result.data[x].state = '<a title="' + result.data[x].why + '"  data-toggle="tooltip" data-placement="top" data-original-title="' + result.data[x].why + '">'+STATE[result.data[x].state]+'</a>';
                result.data[x].back = '退回';
            }else{
                result.data[x].state = STATE[result.data[x].state];
                result.data[x].back = '正常';
            }
            
        }
        if (result.state == 'ok') {
            Ycom.table('#apply_list', {
                '_checkbox':'<input type="checkbox" id="checkbox">',
                'id':'序号',
                'back':'流程状态',
                'state':'审核状态',
                'apply_month':'提报月度',
                'area_name':'所属区域',
                'school_name':'校区',
                'teacher_name':'学习管理师',
                'student':'学员',
                'feedback':'沟通内容反馈',
                'resolve':'解决问题反馈',
                'spot_way':'抽查方式',
                'create_time':'抽查时间',
                'xg_qr':'学管确认时间',
                'xz_qr':'校长确认时间',
                'qy_qr':'区域总监确认时间',
                'add_user_name':'客服专员',
                'why':'退回原因',
                'update_time':'最后审核时间'
            }, result.data);
            
            Ycom.page.reset('#pagination', offset, count, result.total);// 重置页码样式
            
            $('[data-toggle="tooltip"]').tooltip();
        }else{
            ui_info(result.info);
        }
    })
    .fail(function() {
        ui_error('网络错误，请稍后再试')
    })
    .always(function(result) {
        if (typeof(always) != "undefined") {
            always(result);
        }
        Ycom.loading.hide();
    });
}

</script>
</block>

