<extend name="Layout/ins_home" />
<block name="content">
	<br/>
	<br/>
	<br/>
	<h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;OA近期升级中，遇到问题请第一时间反馈………</h2>
	<br/><br/><br/>
	<div class="hm"><h4>公告：旧版系统中的功能近期将逐步迁移新版系统中，在此期间需要大家新旧系统同步使用。</h4>
	<br/>
	<div align="right"><h4>信息化管理中心——2015年7月</h4></div>
	</div>
	<style type="text/css">
		.hm {width: 80%;background-color: #e6e6e6;padding: 50px;border-radius: 10px;margin: auto;color: brown;}
		.hm h4{font-size: 20px;font-family: fantasy;}
	</style>
</block>
<block name="js">
    <script type="text/javascript">
    </script>
</block>
