<extend name="Layout/ins_page" />

<block name="content">

<link href="__INS__/js/plugins/jqPagination/css/jqpagination.css" rel="stylesheet"/>

<style>
    .export{
    margin: 5px 5px;
  }
  
   
  
</style>
 
{:W('PageHeader/search_ajax',array('name'=>'CHP积分信息管理','search'=>'S'))}
  
  <!-- 跟进记录列表 -->
<div class="modal fade" id="chpInfo_dialog" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">CHP信息录入</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          	 <!-- 新增录入修改 -->
			<form id="form_data" method="post" class="form-horizontal">
			<input type="hidden" name="id" id="id_t" value=""/>
			<table class="table table-bordered">
			    <tr>
			        <th>员工</th>
			        <td>
			             <select name="user_id" id="user_id" class="form-control" required="required" msg="请选择相应的员工">
			                <volist name="user_list" id="data">
			                	<option value="{$data.id}">{$data.school}&nbsp;&nbsp;{$data.position}&nbsp;&nbsp;{$data.name}</option>
        								</volist>
        								
			            </select>
			            <br/>
			            <input type="text" id="filter_t" placeholder="此处可进行下拉列表项内容筛选">
			        </td>
			    </tr>
			    <tr>
			        <th>
			            <nobr>积分方案</nobr>
			        </th>
			        <td>
			            <select name="scheme" id="scheme" class="form-control" required="required" msg="请选择相应的积分方案">
			            	<option value="">请选择积分方案</option>
			                {:fill_option($scheme_list)}
			            </select>->
			            <select name="item1" id="item1" class="form-control" required="required" msg="请选择相应的积分项">
			            </select>->
			            <select name="item2" id="item2" class="form-control"></select>
			            	<br/>
			            	获得积分：
			            <input type="text" name="worth" id="worth" readonly="readonly" required="required" msg="请选择相应的积分值"/>
			        </td>
			    </tr>
			    <tr>
			        <th>积分描述</th>
			        <td>
			            <textarea class="form-control" rows="10" cols="50" name="descp" required="required" msg="请对本次积分进行描述"></textarea>
			        </td>
			    </tr>
			   							    
			    <tr>
			    	<td align="center" colspan="8">
			    		  <input type="submit" id="add" class="btn btn-sm btn-primary" name="add" value="保存" />
		            <input type="reset" class="btn btn-sm btn-primary" id="reset_b" name="reset_b" value="重置" />
			    	</td>
			    </tr>
			</table>
			</form>
        </div>
      </div>
    </div>
  </div>
</div>

 
<!-- 列表页面 -->
<form method="post" id="d_form_search" name="form_adv_search"  class="form-inline">  
<input type="hidden" name="keyword" id="keyword_id" value=""/>
<!--<input type="hidden" name="ajax" id="ajax" value="1">-->
  <div class="operate panel panel-default">
    <div class="panel-body">
      <div class="pull-left">
		
		<div class="input-group export">
          <label  for="flag" class="input-group-addon"><b>积分兑换状态：</b></label>
          <select id="flag" name="flag" class="form-control"><option value="" selected>全部</option><option value="1">申请积分兑换</option><option value="2">兑换完成</option></select>
        </div>
        
      	<div class="input-group export">
          <label  for="record_type" class="input-group-addon"><b>记录类型:</b></label>
          <select id="record_type" name="record_type" class="form-control"><option value="" selected>全部</option><option value="1">积分</option><option value="2">兑换</option>
          </select>
        </div>
				
		<div class="input-group export">
          <label class="input-group-addon"><b>积分方案：</b></label>
          <select name="scheme" id="scheme_s" class="form-control" >
           	<option value="">全部</option>
            {:fill_option($scheme_list)}
           </select>
        </div>
        
        <div class="input-group export">
          <label class="input-group-addon"><b>积分项1：</b></label>
          <select name="item1" id="item1_s" class="form-control" ></select>
        </div>
        
        
         <div class="input-group export">
           <span class="input-group-addon"><b>积分项2:</b></span>
           <select name="item2" id="item2_s" class="form-control"></select>
         </div>
        
        
        <div class="input-group export">
          <label class="input-group-addon"><b>积分范围：</b></label>
          <input type="number" name="begin" placeholder="输入积分搜索最小值"/>——<input type="number" name="end" placeholder="输入积分搜索最大值"/>
        </div>
        
        <div class="input-group export">
          <label class="input-group-addon"><b>员工：</b></label>
          
           <select name="user_id" id="user_id_s" class="form-control" required="required" msg="请选择相应的员工">
           	   <option value="">全部</option>
               <volist name="user_list" id="data">
               	<option value="{$data.id}">{$data.school}&nbsp;&nbsp;{$data.position}&nbsp;&nbsp;{$data.name}</option>
    								</volist>
    								
           </select>
           <label class="input-group-addon" style="padding: 6px 1px"></label>
           <input type="text" id="filter_t_s" class="form-control" placeholder="此处可列表项内容筛选">
        </div>
        
      </div>
      <div class="pull-right">
      	<input type="button" id="add_show" class="btn btn-sm btn-primary" name="add" value="新增" /> &nbsp;&nbsp;
      <input type="button" class="btn btn-sm btn-primary" name="search" value="筛选" id="search" />&nbsp;&nbsp;
       <a class="btn btn-sm btn-danger" data-toggle="modal" data-target="#import">数据批量导入</a>
      </div>
    </div>
  </div>
</form>

<div class="row sub_left_menu">
    <table class="table table-bordered">    	
      <thead>
        <tr>
          <th>员工姓名</th>
          <th>记录类型</th>
          <th>明细描述</th>
          <th>积分值</th>
          <th>积分方案</th>
          <th>积分项1</th>
          <th>积分项2</th>
          <th>兑换状态</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody id="llst">
          <volist name="list" id="data">
            <tr id="{$data.id}">
              <td>{$data.user_id}</td>
              <td>{$data.record_type}</td>
              <td>{$data.descp}</td>
              <td>{$data.worth}</td>
              <td>{$data.scheme}</td>
              <td>{$data.item1}</td>
              <td>{$data.item2}</td>
              <td>{$data.flag}</td>
              <td>
              	<button class="btn btn-xs btn-info" onclick="$.showBaseInfo({$data.id})">编辑</button>|
              	<button class="btn btn-xs btn-info" onclick="$.delChpInfo({$data.id})">删除</button>|
              	<button class="btn btn-xs btn-info" onclick="$.doReceiveInfo({$data.id})">确认兑换</button>
              </td>
            </tr>
          </volist>
      </tbody>
    </table>
    
    <!-- 分页插件 -->
	<div class="pagination" id="pagination_chp">
	    <a href="#" class="first" data-action="first">&laquo;</a>
	    <a href="#" class="previous" data-action="previous">&lsaquo;</a>
	    <input id="pager_input" type="text" readonly="readonly"  onclick="return false;" data-max-page="(({$maxCount} % pageCount) == 0) ?  {$maxCount}/pageCount: parseInt({$maxCount}/pageCount)+1"/>
	    <a href="#" class="next" data-action="next">&rsaquo;</a>
	    <a href="#" class="last" data-action="last">&raquo;</a>
	    
	</div>
</div>



<!-- 数据导入 -->
<div class="modal fade" id="import">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3>数据导入(用wps打开模版文件,把数据复制到模版中,并清除页面中的所有文字格式保存！导入系统会自动删除重复数据)</h3>
            </div>
            <div class="modal-body">
                <div class="panel panel-success">
                    <div class="panel-body">
                        <a href="{:U('import_template')}" target="_blank" class="btn btn-primary pull-left">下载模版文件</a>
                    </div>
                </div>
                <div class="panel">
                    <form  method="post" enctype="multipart/form-data" action="{:U('import')}">
                        <input type="file" name="file" required/>
                        <button  class="btn btn-primary pull-right">执行导入</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</block>
<block name="js">
<script type="text/javascript">

pageCount = 1; //每页显示多少条记录(全局变量)
currentPage = 1; //当前页码
maxPage = (({$maxCount} % pageCount) == 0) ?  {$maxCount}/pageCount: parseInt({$maxCount}/pageCount)+1; //最大页码
pageString = '';

$(function(){
/**
 *
 * 绘制动态表格公用函数
 * @param {Object} data  表格实体数据，由后台返回;
 * @param {Object} tbody_id 涵盖该 tr的tbody的ID，为字符串类型;
 * @param {Object} button_method_arr 每行最后一格中的按钮对应的函数名称，为数组类型;
 * @param {Object} method_param_arr 按钮调用的方法的参数数组，为数组类型；
 * @param {Object} button_name_arr 每行最后一格中的按钮对应的名称，这里要和button_method_arr中的数据的顺序一致，为数组类型;
 * @param {Object} field_arr 表格中显示的各个内容对应的数据表的字段名称，这个要和数据库表的名称一致,为数组类型;
 * @param {Object} check_name 代表checkbox复选框的name的名称，方便后续的复选框操作，为字符串类型;
 * @param {Object} select_lst_arr  值为数字或者字符串，显示为汉字的下拉列表，对应的数组的名字,为数组类型;
 * @param {Object} a_link_arr 需要超链接包围的显示字段，为数组类型;
 * @param {Object} a_link_url 相应位置超链接的url地址，为数组类型;
 * @param {Object} a_link_param 相应位置超链接的url地址中需要绑定的参数，为数组类型;
 * @param {Object} a_link_target 超链接弹出页面的方式设定，target，例如：_blank
 * @param {Object} a_fun_arr  超链接如果有函数，这里是函数名称，为数组类型;
 * @param {Object} a_fun_param_arr 函数中的参数字段，该字段需要在data中存在
 */
  	$.drawTrTd=function (
  		data,
  		tbody_id,
  		button_method_arr,
  		method_param_arr,
  		button_name_arr,
  		field_arr,
  		check_name,
  		select_lst_arr,
  		a_link_arr,
  		a_link_url,
  		a_link_param,
  		a_link_target,
  		a_fun_arr,
  		a_fun_param_arr){

  		$.each(data, function(i,value) {
  			var temp_str = '';

  			$('#' + tbody_id).append('<tr id="' + value.id + '">');

  			//列表checkbox选择组件创建
  			if(check_name != null){
  				$('#' + value.id).append('<td><input type="checkbox" name="' + check_name + '" id="check' + value.id + '" class="' + value.id + '"  value="' + value.id + '" /></td>');
  			}

  			for(var i=0;i<field_arr.length;i++){
  				//单元格起始构建
  				temp = '<td>';

  				//判断是否有超链接
  				if(a_link_arr !=null && ($.inArray(field_arr[i],a_link_arr) != -1)){
  					var a_temp_str = '';

  					//超链接起始构建
  					if(a_link_param != null){
  						//如果url地址需要参数
  						a_temp_str += '<a href="' + a_link_url[$.inArray(field_arr[i],a_link_arr)];
  						//添加参数
  						for(var n=0;n<a_link_param.length;n++){
  							a_temp_str += '&' + a_link_param[n] + '=' + $.trim(eval('value.' + a_link_param[n]));
  						}
  						a_temp_str +=  '" ';
  					}else{
  						a_temp_str += '<a href="' + a_link_url[$.inArray(field_arr[i],a_link_arr)] + '" ';	
  					}
  					
  					//onclick函数起始构建
  					if(a_fun_arr != null){
  						a_temp_str += 'onclick="' + a_fun_arr[$.inArray(field_arr[i],a_link_arr)]  + '(';
  					}

  					//函数的参数全构建
  					if(a_fun_param_arr != null){
  						for(var k=0;k<a_fun_param_arr.length;k++){
							a_temp_str += ($.trim(eval('value.' + a_fun_param_arr[k]))== undefined ? '': "'" + $.trim(eval('value.' + a_fun_param_arr[k]))) + "',";
  						}

  						a_temp_str = a_temp_str.substring(0,a_temp_str.lastIndexOf(','));
  						a_temp_str += (')"')
  					}
					
					if(a_link_target != null){
						a_temp_str += 'target=' + a_link_target + '>';
					}else{
						a_temp_str += '>';	
					}
					
  					

  					//添加超链接起始部分
					temp += a_temp_str;

  				}


  				//添加单元格内容部分
  				if($.inArray(field_arr[i],select_lst_arr) != -1){
  					//单元格内容如果是select组件中的value部分，需要转义的，通过在这里实现，但是javascript脚本最开始的部分需要添加相应的php代码带获取相应的数组，这部分内容在后期会进一步完善，会把该数组也放到该函数内来实现。
  					temp += (((eval('value.' + field_arr[i])== undefined) || ($.trim(eval('value.' + field_arr[i]))==''))? '': eval(field_arr[i] + "['"  + eval('value.' + field_arr[i]) + "']"));
  				}else{
  					temp += ((eval('value.' + field_arr[i])== undefined || eval('value.' + field_arr[i])== false) ? '': eval('value.' + field_arr[i]));
  				}

  				//超链接结束标签构建
  				if(a_link_arr !=null && ($.inArray(field_arr[i],a_link_arr) != -1)){
  					temp += '</a>';
  				}

  				//单元格结束标签构建
  				temp += '</td>';

  				$('#' + value.id).append(temp);
  			}


  			if(button_method_arr != null){
  				for(var j=0;j<button_method_arr.length;j++){
  					if(method_param_arr != null){
  						var param_str = '';
  						temp_str += '<button class="btn btn-xs btn-primary" onclick="' + button_method_arr[j] + '(';
  						for(var k=0;k<method_param_arr.length;k++){
  							param_str += "'" + (eval('value.' + method_param_arr[k]) == undefined ? '':eval('value.' + method_param_arr[k])) + "',"
  						}
  						param_str = param_str.substring(0,param_str.length-1);
						temp_str += param_str;
  						temp_str += ')">' + button_name_arr[j] + '</button>&nbsp;|&nbsp;';
  					}else{
  						temp_str += '<button class="btn btn-xs btn-primary" onclick="' + button_method_arr[j] + '(' + value.id +')">' + button_name_arr[j] + '</button>&nbsp;|&nbsp;';
  					}

  				}
  				temp_str = temp_str.substring(0,temp_str.lastIndexOf('>')+1);
  				$('#' + value.id).append('<td>' + temp_str  + '</td>');
  			}
  	});
 }
  	
  	$('#pagination_chp').jqPagination({
							link_string	: '/?page={page_number}',
							max_page	: maxPage,
							paged		: function(page,param) {
								
							var pageNumber = (page-1)*pageCount //从第几行开始查询
							
							var data = $('#d_form_search').serializeArray();
//							data.push($('#form_search').serializeArray()[0]);
//							var keyword = $('#keyword').val();
							
//							var search = new Object();
//							search = {name:'keyword',value:keyword};
//							
//							data.push(search);
							
							$.ajax({
								type:'POST',
								async:false,
								cache:false,
								url:"{:U('pager')}&pageNumber=" + pageNumber + "&pageCount=" + pageCount + "&page=" + page,
								dataType:'json',
								data:data,
								success:function(msg,status){
									if(status=="success"){
										var page = this.url.split('&')[5].substr(5); //通过url请求路径中添加的参数来获取当前页码;
										currentPage = page; //设置当前页码
										maxPage = ((msg.maxCount % pageCount) == 0) ?  msg.maxCount/pageCount: parseInt(msg.maxCount/pageCount)+1; //最大页码;

										if(msg.data != null && msg.data.length > 0 ){
											$('#llst').empty();

											var button_method_arr = ['$.showBaseInfo','$.delInfo','$.doReceiveInfo'];
											var button_name_arr = ['编辑','删除','确认兑换'];
											var field_arr = ['user_id','record_type','descp','worth','scheme','item1','item2','flag'];
											var select_lst_arr = null;
											var check_name = null;
											var method_param_arr = ['id'];
											var a_link_arr = null;
											var a_link_url = null;
											var a_link_param = null;
											var a_link_target = null;
											var a_fun_arr = null;//['$.showDialog'];
											var a_fun_param_arr = null;//['id','name','grade','wl','frequency','visit_type','std_id'];

											$.drawTrTd(msg.data,'llst',button_method_arr,method_param_arr,button_name_arr,field_arr,check_name,select_lst_arr,a_link_arr,a_link_url,a_link_param,a_link_target,a_fun_arr,a_fun_param_arr);

										}else{
											$('#llst').empty();
										}

									}
								}
							});

							if(maxPage <= 0){
								this.page_string = '没有符合条件的记录';
								maxPage = 1;
							}else if(this.page_string == '没有符合条件的记录'){
								this.page_string = 'Page {current_page} of {max_page}';
							}
							
							this.current_page = (currentPage>=maxPage ? maxPage : currentPage);
							this.max_page = maxPage;
							
							
							$('#pagination_chp').jqPagination('option',{'current_page':currentPage,'trigger': false}); //设置分页插件的当前页码
							Ycom.loading.hide();
						}

	});


	//列表项选择事件操作
	$("#llst").on('click','tr',null,function(){

      $("#llst tr").removeClass("active");
		  $(this).attr("class", "active");
    });	
    
    
  //	查询所有记录，刷新列表
	function searchAll(){
			var currentPage = $('.pagination').jqPagination('option','current_page');
			$('.pagination').jqPagination('option',{'current_page':currentPage,'trigger': true}); //设置分页插件的当前页码
			
	}
     //查询按钮操作
	$('#search_ajax').bind("click",function(){
			$('#keyword_id').val($('#keyword').val());
			/* var data = $('#d_form_search').serializeArray(); */
//			进行查询操作
		  searchAll();
	});
    
  
   //筛选按钮操作
	  $('#search').click(function(param){
			$('#search_ajax').click();
		});
		
    
    
    
  	$('#add_show').click(function(){
	  		$('#reset_b').trigger('click'); 
		   	$('#chpInfo_dialog').modal('show');
	});
	  
  	$('#filter_t').on('keyup',function(e){
  		$('#user_id option').show();
  		$('#user_id option').each(function(){
  			if($(this).text().indexOf($('#filter_t').val()) == -1){
  				$(this).attr('dq','1'); //该属性，无任何意义，就是为了实现某种显示效果
  				$(this).hide();
  			}else{
  				$(this).attr('dq','2');
  			}
  		});
  		$('#user_id option[dq=2]:first').prop('selected',true)
  		
  	});
  	
  	
  	$('#filter_t_s').on('keyup',function(e){
  		$('#user_id_s option').show();
  		$('#user_id_s option').each(function(){
  			if($(this).text().indexOf($('#filter_t_s').val()) == -1){
  				$(this).attr('dq','1'); //该属性，无任何意义，就是为了实现某种显示效果
  				$(this).hide();
  			}else{
  				$(this).attr('dq','2');
  			}
  		});
  		$('#user_id_s option[dq=2]:first').prop('selected',true)
  		
  	});
  	
  	
  	$('#scheme').on('change',function(){
  		if(!$(this).val()){
  			$('#item1').empty();
  			$('#item2').empty();
  			$('#worth').val('');
  		}else{
  			$.ajax({
  	  			type:'post',
  	  			async: false,
  	  			url:'{:U('getItems')}',
  	  			data:{pid:$(this).val()},
  	  			success:function(msg){
  	  			
  	  				if(msg && msg.data.length>0){
  	  					$('#item1').empty();
  	  					$('#item2').empty();
  	  					$('#item1').append("<option value=''>请选择</option>");
  	  					$.each(msg.data,function(i,n){
  	  						if(n['leaf'] == 1){
  	  							$('#item1').append("<option value='" + n['id'] + "' worth='" + n['worth'] + "'>" + n['name'] + "</option>");
  	  						$('#item2').removeAttr('required');
  	  						}else{
  	  							$('#item1').append("<option value='" + n['id'] + "' >" + n['name'] + "</option>");
  	  						$('#item2').attr('required','required');
  	  						}
  	  						
  	  					});
  	  				}
  	  			}
  	  		});
  		}
  		
  	});
  	
  	
  	$('#item1').on('change',function(){
  		
  		if(!$(this).val()){
  			$('#item2').empty();
  			$('#worth').val('');
  		}else{
  			if(!$(this).find("option:selected").attr('worth')){
  	  			$.ajax({
  		  			type:'post',
  		  			async: false,
  		  			url:'{:U('getItems')}',
  		  			data:{pid:$(this).val()},
  		  			success:function(msg){
  		  				
  		  				if(msg && msg.data.length>0){
  		  				$('#item2').empty();
  		  				$('#item2').append("<option value=''>请选择</option>");
  		  					$.each(msg.data,function(i,n){
  		  						
  		  					if(n['leaf'] == 1){
  	  							$('#item2').append("<option value='" + n['id'] + "' worth='" + n['worth'] + "'>" + n['name'] + "</option>");	
  	  						}else{
  	  							$('#item2').append("<option value='" + n['id'] + "' >" + n['name'] + "</option>");
  	  						}
  		  					});
  		  				}
  		  			}
  		  		});
  	  		}else{
  	  			$('#worth').val($(this).find("option:selected").attr('worth'));
  	  		}
  		}
		});
  	
  	
  	$('#item2').on('change',function(){
  		
  		if($(this).val() && $(this).find("option:selected").attr('worth')){
  			$('#worth').val($(this).find("option:selected").attr('worth'));
  		}else{
  			$('#worth').val('');
  		}
  	});
	
  	
  	
	$('#scheme_s').on('change',function(){
	  		
	  		if(!$(this).val()){
	  			$('#item1_s').empty();
	  			$('#item2_s').empty();
	  		}else{
	  			$.ajax({
	  	  			type:'post',
	  	  			url:'{:U('getItems')}',
	  	  			data:{pid:$(this).val()},
	  	  			success:function(msg){
	  	  			
	  	  				if(msg && msg.data.length>0){
	  	  					$('#item1_s').empty();
	  	  					$('#item2_s').empty();
	  	  					$('#item1_s').append("<option value=''>全部</option>");
	  	  					$.each(msg.data,function(i,n){
	  	  						if(n['leaf'] == 1){
	  	  							$('#item1_s').append("<option value='" + n['id'] + "' worth='" + n['worth'] + "'>" + n['name'] + "</option>");
	  	  						}else{
	  	  							$('#item1_s').append("<option value='" + n['id'] + "' >" + n['name'] + "</option>");
	  	  						}
	  	  						
	  	  					});
	  	  				}
	  	  			}
	  	  		});
	  		}
	  		
	  	});
  	
  	
  	$('#item1_s').on('change',function(){
  		
  		if(!$(this).val()){
  			$('#item2_s').empty();
  		}else{
  			if(!$(this).find("option:selected").attr('worth')){
  	  			$.ajax({
  		  			type:'post',
  		  			url:'{:U('getItems')}',
  		  			data:{pid:$(this).val()},
  		  			success:function(msg){
  		  				
  		  				if(msg && msg.data.length>0){
  		  				$('#item2_s').empty();
  		  				$('#item2_s').append("<option value=''>全部</option>");
  		  					$.each(msg.data,function(i,n){
  		  						
  		  					if(n['leaf'] == 1){
  	  							$('#item2_s').append("<option value='" + n['id'] + "' worth='" + n['worth'] + "'>" + n['name'] + "</option>");	
  	  						}else{
  	  							$('#item2_s').append("<option value='" + n['id'] + "' >" + n['name'] + "</option>");
  	  						}
  		  					});
  		  				}
  		  			}
  		  		});
  	  		}
  		}
		});
  	  	
  
	  $.showBaseInfo = function(sid){
		  
    	if(sid != 0){
		          $.ajax({ 
		          	type:'POST',
		          	cache:false,
		          	async:true,
		          	url: "{:U('pager')}",
		          	data:{"id": sid},
		          	dataType:"json", 
		          	success: function(msg){
		          		//msg2 = msg; 
		              setform(msg);
		              $('#chpInfo_dialog').modal('show');
		          		
		             
		          	},
		          	failure:function(err){
		          		
		          		ui_error('发生错误，请于系统管理员联系！');
		          	}
		          	});
		          
          }
    }
	  
	  $.delChpInfo = function(sid){
		  
		  $.ajax({ 
	          	type:'POST',
	          	cache:false,
	          	async:true,
	          	url: "{:U('delChpInfo')}",
	          	data:{"id": sid},
	          	dataType:"json", 
	          	success: function(msg,status){
	          		if(status == "success" && msg == 'ok'){
	    	            
			              ui_info("积分记录删除成功!"); 
						  searchAll([]);//每次添加之后都会刷新列表；
						
					}else {
						ui_error(msg);
					}
	             
	          	},
	          	failure:function(err){
	          		
	          		ui_error('发生错误，请于系统管理员联系！');
	          	}
	          	});
	  }
	  
	  
	  
	$.doReceiveInfo = function(sid){
			  
			  $.ajax({ 
		          	type:'POST',
		          	cache:false,
		          	async:true,
		          	url: "{:U('doReceiveInfo')}",
		          	data:{"id": sid},
		          	dataType:"json", 
		          	success: function(msg,status){
		          		if(status == "success" && msg == 'ok'){
		    	            
				              ui_info("积分兑换确认成功!"); 
							  searchAll([]);//每次添加之后都会刷新列表；
							
						}else {
							ui_error(msg);
						}
		             
		          	},
		          	failure:function(err){
		          		
		          		ui_error('发生错误，请于系统管理员联系！');
		          	}
		          	});
		  }
	
	   //选择列表项时，设置编辑的表单内容
    function setform (msg) {
    
    $('#form_data').find("input[name='id']").val(msg.data[0]['id']);
    
    $('#form_data').find("select[name='user_id']").val(msg.data[0]['user_id']);
    
    
    $('#form_data').find("select[name='scheme']").val(msg.data[0]['scheme']);
    
    $('#scheme').change();
    
    $("#form_data").find("select[name='item1']").val(msg.data[0]['item1']);
    
    $('#item1').change();
    
    
    $("#form_data").find("select[name='item2']").val(msg.data[0]['item2']);
    
    $('#form_data').find("input[name='worth']").val(msg.data[0]['worth']);
    $('#form_data').find("textarea[name='descp']").val(msg.data[0]['descp']);
  }
    
	  //新增按钮，新增记录操作;修改按钮操作;
	$('#form_data').submit(function(event){
		//event.preventDefault();	
		
		var data = $('#form_data').serialize();
				
		 $.ajax({
			type:'POST',
			async:false,
			cache:false,
			url:"{:U('addChpInfo')}",
			dataType:'json',
			data:data,
			success:function(msg,status){ 
				if(status == "success" && msg == 'ok'){
            
		              ui_info("操作成功!"); 
		              $('#reset_b').trigger('click'); 
					  searchAll([]);//每次添加之后都会刷新列表；
					
				}else {
					ui_error(msg);
				}
			}
		}); 
	});
	

});    
</script>
<script type="text/javascript" src="__INS__/js/plugins/jqPagination/jquery.jqpagination.js"></script>
</block>
