<extend name="Layout/ins_page" />
<block name="content">
{:W('PageHeader/finance',array('name'=>'退费审核','search'=>'N'))}
<style>
	.export{width: 200px;margin: 0px 8px;float: left;}
	.page{background-color: beige;position: relative;text-align: right;padding: 5px 20px;}
	.red_star {
		color: red;
	} 
	.panel-body li { width: 200px;float: left;margin: 5px;list-style: none;font-weight: bold;} 
</style> 
<form method="post" id="form_aa" action="{:U('add')}">
	<if condition="$module == 'gt' ">
		<input type="hidden" id="zbgt_time" name="zbgt_time" value="" />
	</if>
	
	<div class="adv_search panel panel-default hidden"  id="adv_aa">
		<div class="panel-heading">
			<div class="row">
				<h4 class="col-xs-6">修改--><input  type="text" name="date" onclick="WdatePicker({dateFmt:'yyyy-MM'})" style="width: 70px;" required="true" value="{$Think.session.date}" />期次-->{$Think.session.user_name}<input type="hidden" name="id"></h4>
				<div class="col-xs-6 text-right">
					<input class="btn btn-sm btn-info" type="submit" value="保存">
					<a  class="btn btn-sm btn-info" onclick="change_c();">取消</a>
				</div>
			</div>
		</div>
		<div class="panel-body">
		
		<ul>
			<li>学员姓名：<input type="text" class="form-control" name="student" required="required" readonly="readonly"/></li>
			<li>年级：<select name="grade" class="form-control">
						{:fill_option_ex($gradeList)}
					</select>
			</li>
			<li>联系电话:<input type="text" class="form-control" name="tel" required="required"/></li>
			<li>教学主任:<input type="text" class="form-control" name="aa" required="required" readonly="readonly"/></li>
			<li>学管理师：<input type="text" class="form-control" name="bb" required="required" readonly="readonly"/></li>
			
			<li>课程类型：<select class="form-control class_type" name="class1" required="required">{:fill_option_ex(get_config('COURSE_GROUP_VALIDATE'))}</select></li>
			<li>课程具体类型：<select name="class2" class="form-control sub_type" required="required"></select></li>
			<li>退出费用缴费日期：<input type="text" class="form-control" name="timed" required="required" onclick="WdatePicker()" /></li>
			<li>缴费总额:<input type="number" class="form-control" name="ze" step="0.1" min="0.1"  required="required"/></li>
			<li>缴费课时：<input type="text" class="form-control" name="count" required="required"/></li>
			<li>已上课时:<input type="text" class="form-control"  name="countd" required="required"></li>
			<li>科目/教师:<input type="text" class="form-control" name="km" required="required"></li>
			
			<li>业绩类型<span class="red_star">(**必填项**)</span>：
				<select id="yj_type" class="form-control" name="yj_type" required="required">
						<option value="新签">新签</option>
						<option value="续签">续签</option>
						<option value="转介绍">转介绍</option>
						<option value="激活">激活</option>
					</select>
			</li>
			<li>退费原因<span class="red_star">(**必填项**)</span>：<select id="why1" class="form-control" name="why1" required="required">
						<option value="">请选择原因</option>
						<option>转学、留学、提前被大学录取</option>
						<option>被校区劝退、开除</option>
						<option>休学</option>
						<option>患传染疾病或生病致不能正常上学</option>
						
						<option>纯自习室学员退费</option>
						<option>特训营学员退费</option>
						<option>部分退费，除赠送课时外保留课时≥10小时</option>
						<option>接手60天未产生课时</option>
						<option>转班</option>
						
						<option>特殊申请不核算情况</option>
						<option>≥7人班课学员退费</option>
						<option>3-6人小组课退费，1人核算0.5人</option>
						<option>新签保护期内退费</option>
						<option>其他核算原因</option>
					</select>
			</li>
			<li>校区区域：<select name="region" class="form-control" required="required"><option value="">请选择校区</option><option value="辽东">辽东</option><option value="辽西">辽西</option><option value="吉林">吉林</option><option value="黑龙江">黑龙江</option></select></li>
			
			<li>扣费类型：
					<select id="kf_type" class="form-control" name="kf_type" required="required">
						<option value="">--请选择--</option>
						<option value="新签">新签</option>
						<option value="续签">续签</option>
						<!-- <option value="转介绍">转介绍</option> -->
					</select>
			</li>
			<li>首次缴费日期：<input type="text" class="form-control" name="first_time" required="required" onclick="WdatePicker()" /></li>
			
			<li>应退金额：<input type="number" class="form-control" name="je" required="required" step="0.01"/></li>
			<li style="width:410px;clear:left;">剩余计算<span class="red_star">(**必填项**)</span>：<textarea name="sy" class="form-control" cols="50" rows="4" required="required" ></textarea></li>
			
			<li style="width:410px;">具体原因<span class="red_star">(**必填项**)</span>：<textarea name="why2" class="form-control" cols="80" rows="4" required="required" ></textarea></li>
			
			
			<if condition="$module == 'xqsh' ">
			<li style="width:410px;">校长沟通<span class="red_star">(**必填项**)</span>：<textarea name="xqgt" class="form-control" cols="80" rows="4" required="required" ></textarea></li>
			<elseif condition="$module != 'xqsh' "/>
			<li style="width:410px;">校长沟通<span class="red_star">(**必填项**)</span>：<textarea name="xqgt" class="form-control" cols="80" rows="4" readonly="readonly"></textarea></li>
			</if>
			<notempty name="why3">
			<li>总部沟通：<input type="text" class="form-control" name="why3" required="required" style="width:100%;"><input type="hidden" name="action_node" value="zbgt"/></li>
			</notempty>
			<li style="clear:left;">备注：<input type="text" class="form-control" name="other" style="min-width: 137px;max-width: 440px;width: 100%;"  maxlength="15"></li>
			
			
		</ul>
		
		<!-- <table align="center" style="width: 100%;">
			<tr>
				<td>学员姓名：</td>
				<td><input type="text" name="student" required="true" readonly="readonly"/></td>
				<td>年级：</td>
				<td>
					<select name="grade">
						{:fill_option_ex($gradeList)}
					</select>
				</td>
				<td>联系电话:</td>
				<td><input type="text" name="tel" required="true" readonly="readonly"/></td>
				<td>教学主任:</td>
				<td><input type="text" name="aa" required="true" readonly="readonly"/></td>
				<td>学管理师：</td>
				<td><input type="text" name="bb" required="true" readonly="readonly"/></td>
			</tr>
			<empty name="why3">
			<tr>
				<td>课程类型：</td>
				<td><input type="text" name="class" /><select class="class_type" name="class1" required="required">{:fill_option_ex(get_config('COURSE_GROUP_VALIDATE'))}</select>&nbsp;&nbsp;<select name="class2" class="sub_type" required="required"></select></td>
				<td>退出费用缴费日期：</td>
				<td><input type="text" name="timed" required="true" onclick="WdatePicker()" /></td>
				<td>缴费总额:</td>
				<td><input type="number" name="ze" step="0.1" min="0.1"  required="true"/></td>
				<td>缴费课时：</td>
				<td><input type="text" name="count" required="true"/></td>
				<td>已上课时:</td>
				<td><input type="text"  name="countd" required="true"></td>
			</tr>
			<tr>
				<td>科目/教师:</td>
				<td><input type="text" name="km" required="true"></td>
				<td>剩余计算：</td>
				<td colspan="3">
					<textarea name="sy" cols="50" rows="4" required="true" ></textarea><span class="red_star">(**必填项**)</span>
				</td>
				<td>应退金额：</td>
				<td><input type="number" name="je" required="true" step="0.01"/></td>
				<td>备注：</td>
				<td><input type="text" name="other"></td>
				<td>业绩类型：</td>
				<td>
					<select id="yj_type" name="yj_type" style="max-width: 137px;min-width: 65px;width:100%;" required="required">
						<option value="新签">新签</option>
						<option value="续签">续签</option>
						<option value="转介绍">转介绍</option>
						<option value="激活">激活</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>具体原因：</td>
				<td colspan="3">
					<textarea name="why2" cols="80" rows="4" required="true" ></textarea><span class="red_star">(**必填项**)</span>
				</td>
				<td>扣费类型：</td>
				<td>
					<select id="kf_type" name="kf_type" style="max-width: 137px;min-width: 65px;width:100%;" required="required">
						<option value="">--请选择--</option>
						<option value="新签">新签</option>
						<option value="续签">续签</option>
						<option value="转介绍">转介绍</option>
					</select>
				</td>
				<td>
					<select id="kf_type" name="kf_type" style="max-width: 137px;min-width: 65px;width:100%;" disabled="disabled">
						<option value="">--请选择--</option>
						<option value="新签">新签</option>
						<option value="续签">续签</option>
						<option value="转介绍">转介绍</option>
					</select>
				</td>
				
				<td>首次缴费日期</td>
				<td><input type="text" name="first_time" required="true" onclick="WdatePicker()" /></td>
				
				<td>校区区域：</td>
				<td><select name="region" required="required"><option value="">请选择校区</option><option value="辽东">辽东</option><option value="辽西">辽西</option><option value="吉林">吉林</option><option value="黑龙江">黑龙江</option></select></td>
			</tr>
			<tr>
				<td>备注：</td>
				<td><input type="text" name="other" style="min-width: 137px;max-width: 440px;width: 100%;"  maxlength="15"></td>
			</tr>
			<if condition="$module == 'xqsh' ">
			<tr>
				<td>校长沟通：</td>
				<td colspan="9">
					<textarea name="xqgt" cols="80" rows="4" required="true" ></textarea><span class="red_star">(**必填项**)</span>
				</td>
			</tr>
			<elseif condition="$module != 'xqsh' "/>
			<tr>
				<td>校长沟通：</td>
				<td colspan="9">
					<textarea name="xqgt" cols="80" rows="4" readonly="readonly"></textarea><span class="red_star">(**必填项**)</span>
				</td>
			</tr>
			</if>
			<else />
				<tr>
					<td>总部沟通：</td>
					<td colspan="4"><input type="text" name="why3" required="true" style="width:100%;"><input type="hidden" name="action_node" value="zbgt"/> </td>
				</tr>
			</empty>
		</table> -->
		</div>
	</div>
</form>


<div  id="adv_search">
	<form method="post" action="" name="form_data" id="form_data">
		<empty name="bt">
			<div class="operate panel panel-default">
				<div class="panel-body">
					<div class="pull-left">
						<if condition="$module == 'xqsh' ">
						<input class="btn btn-sm btn-danger" type="button" id="xqsh" name="aax" value="通过审核" />
						<input type="hidden" id="tgsh" name="aax" value="" />
						<elseif condition="$module == 'cwqr' "/>
							<input class="btn btn-sm btn-danger" type="button" id="cwqr" name="aax" value="通过审核" />
							<input type="hidden" id="tgsh" name="aax" value="" />
						<else/>
						<input class="btn btn-sm btn-danger" type="submit" name="aax" value="通过审核" />
						</if>
						<input class="btn btn-sm btn-danger" type="submit" name="bt" value="退回修改" />
					</div>
					<div class="pull-right">
						<input class="btn btn-sm btn-primary" onclick="change()" value="直接修改" />
						<input class="btn btn-sm btn-primary" type="submit" name="dl" value="删除" />
					</div>
				</div>
			</div>
		<else />
			<div class="operate panel panel-default">
				<div class="panel-body">
					<div class="pull-left">
						<empty name="why3">
								<input class="btn btn-sm btn-danger" type="submit" name="aax" value="退款完成" />
						<else />
								<input type="button" class="btn btn-sm btn-primary" onclick="change()" value="总部沟通" />
								<input class="btn btn-sm btn-danger" type="submit" name="bt" value="退回修改" />
						</empty>
					</div>
				</div>
			</div>
		</empty>

<a  class="btn btn-primary">执行流程：退费申请->财务核算->校区审批->区域审核->总部沟通->中心审批->财务批款->退款确认</a>
	<div style="overflow-x:auto;overflow-y:auto;max-height: 500px;">
		<div class="ul_table message-container" style="width:5000px;">
			<table class="table table-bordered" id="llst" width="120%">
					<thead>
						<th width="1%" style="text-align: center;">
							<input class="ace" type="checkbox" name="id-toggle-all" id="id-toggle-all"/>
							<span class="lbl"></span>
						</th>
						<th width="1%" style="text-align: center;">序号</th>
						<th width="2%" style="text-align: center;">状态</th>
						<th width="2%" style="text-align: center;">区域</th>
						<th width="3%" style="text-align: center;">校区</th>
						<th width="2%" style="text-align: center;">学员姓名</th>
						<th width="2%" style="text-align: center;">年级</th>
						<th width="3%" style="text-align: center;">联系电话</th>
						<th width="2%" style="text-align: center;">教学主任</th>
						<th width="3%" style="text-align: center;">学习管理师</th>
						<!--<th width="2%" style="text-align: center;">课程类型</th>-->
						<th width="5%" style="text-align: center;">课程类型</th>
						<th width="3%" style="text-align: center;">首次缴费日期</th>
						<th width="3%" style="text-align: center;">退出费用缴费日期</th>
						<th width="2%" style="text-align: center;">缴费总额</th>
						<th width="2%" style="text-align: center;">缴费课时</th>
						<th width="2%" style="text-align: center;">已上课时</th>
						<th width="5%" style="text-align: center;">科目/教师</th>
						<th width="7%" style="text-align: center;">剩余计算</th>
						<th width="2%" style="text-align: center;">应退金额</th>
						<th width="6%" style="text-align: center;">退费原因</th>
						<th width="7%" style="text-align: center;">校区反馈</th>
						<th width="7%" style="text-align: center;">校长沟通</th>
						<th width="7%" style="text-align: center;">总部沟通</th>
						<th width="3%" style="text-align: center;">申请时间</th>
						<th width="3%" style="text-align: center;">财务确认时间</th>
						<th width="3%" style="text-align: center;">校区审核时间</th>
						<th width="3%" style="text-align: center;">总部沟通时间</th>
						<th width="3%" style="text-align: center;">区域审核时间</th>
						<th width="3%" style="text-align: center;">中心审批</th>
						<th width="3%" style="text-align: center;">财务审批时间</th>
						<th width="3%" style="text-align: center;">退费时间</th>
						<th width="6%" style="text-align: center;">备注</th>
					</thead>
					<tbody id="list1">
						<form method="post" action="{:U('delt')}" id="form_b">
						<foreach name="list" item="vo">
							<tr class="tbody data_item">
								<td style="text-align: center;">
									<label class="inline pull-left col-3">
									<input class="ace" type="checkbox" name="id[]" value="{$vo.id}" />
									<span class="lbl"></span></label>
								</td>
								<td>
									{$vo.id}
								</td>
								<td>
									<switch name="vo.state" >
									<case value="0"><a style="color:red;">退回修改</a></case>
									<case value="1"><a style="color:fuchsia;">财务核算</a></case>
									<case value="2"><a style="color:#6666FF;">校区审批</a></case>
									<case value="3"><a style="color:#99CC00;">中心审批</a></case>
									<case value="4"><a style="color:#333333;">财务批款</a></case>
									<case value="5"><a style="color:#009933;">退款确认</a></case>
									<case value="6"><a style="color:#009933;">退款完成</a></case>
									<case value="9"><a style="color:#009933;">区域审核</a></case>
									<case value="8"><a style="color:#009933;">总部沟通</a></case>
									</switch>
								</td>
								<td>{$vo.region}</td>
								<td>{$vo.school}</td>
								<td>{$vo.student}</td>
								<td>
									<switch name="vo.grade">
						                <case value="22">高三</case>
						                <case value="21">高二</case>
						                <case value="20">高一</case>
						                <case value="50">九年级</case>
						                <case value="40">八年级</case>
						                <case value="39">七年级</case>
						                <case value="38">六年级</case>
						                <case value="93">五年级</case>
						                <case value="100">四年级</case>
						                <case value="101">三年级</case>
						                <case value="102">二年级</case>
						                <case value="103">一年级</case>
						                <case value="217">其他</case>
					                </switch>
								</td>
								<td>{$vo.tel}</td>
								<td>{$vo.aa}</td>
								<td>{$vo.bb}</td>
								<!--<td>{$vo.class}</td>-->
								<td>{$vo.class1}=>{$vo.class2}</td>
								<td>{$vo.first_time}</td>
								<td>{$vo.timed}</td>
								<td>{$vo.ze}</td>
								<td>{$vo.count}</td>
								<td>{$vo.countd}</td>
								<td><empty name="vo.km">&nbsp;<else/>{$vo.km}</empty></td>
								<td><empty name="vo.sy">&nbsp;<else/>{$vo.sy}</empty></td>
								<td>{$vo.je}</td>
								<td><empty name="vo.why1">&nbsp;<else />{$vo.why1}</empty></td>
								<td><empty name="vo.why2">&nbsp;<else />{$vo.why2}</empty></td>
								<td><empty name="vo.xqgt">&nbsp;<else />{$vo.xqgt}</empty></td>
								<td><empty name="vo.why3">&nbsp;<else />{$vo.why3}</empty></td>
								<td><empty name="vo.time1">&nbsp;<else />{$vo.time1}</empty></td>
								<td><empty name="vo.cwqr_time">0000-00-00<else />{$vo.cwqr_time}</empty></td>
								<td><empty name="vo.xqsh_time">0000-00-00<else />{$vo.xqsh_time}</empty></td>
								<td><empty name="vo.zbgt_time">0000-00-00<else />{$vo.zbgt_time}</empty></td>
								<td><empty name="vo.region_time">0000-00-00<else />{$vo.region_time}</empty></td>
								<td><empty name="vo.time2">0000-00-00<else />{$vo.time2}</empty></td>
								<td><empty name="vo.jtsp_time">0000-00-00<else />{$vo.jtsp_time}</empty></td>
								<td><empty name="vo.time3">0000-00-00<else />{$vo.time3}</empty></td>
								<td>{$vo.other}</td>
							</tr>
							<php>$cont+=$vo['je'];</php>
						</foreach>
					</form>
					</tbody>
					<tbody id="list2">
						<foreach name="list2" item="voo">
							<tr class="tbody data_item">
								<td style="text-align: center;">
									<label class="inline pull-left col-3">
									<a class="ace">&nbsp;</a>
									<span class="lbl"></span></label>
								</td>
								<td>
									{$voo.id}
								</td>
								<td>
									<switch name="voo.state" >
									<case value="0"><a style="color:red;">退回修改</a></case>
									<case value="1"><a style="color:fuchsia;">财务核算</a></case>
									<case value="2"><a style="color:#6666FF;">校区审批</a></case>
									<case value="3"><a style="color:#99CC00;">中心审批</a></case>
									<case value="4"><a style="color:#333333;">财务批款</a></case>
									<case value="5"><a style="color:#009933;">退款确认</a></case>
									<case value="6"><a style="color:#009933;">退款完成</a></case>
									<case value="9"><a style="color:#009933;">区域审核</a></case>
									<case value="8"><a style="color:#009933;">总部沟通</a></case>
									</switch>
								</td>
								<td>{$voo.region}</td>
								<td>{$voo.school}</td>
								<td>{$voo.student}</td>
								<td>
									<switch name="voo.grade">
						                <case value="22">高三</case>
						                <case value="21">高二</case>
						                <case value="20">高一</case>
						                <case value="50">九年级</case>
						                <case value="40">八年级</case>
						                <case value="39">七年级</case>
						                <case value="38">六年级</case>
						                <case value="93">五年级</case>
						                <case value="100">四年级</case>
						                <case value="101">三年级</case>
						                <case value="102">二年级</case>
						                <case value="103">一年级</case>
						                <case value="217">其他</case>
					                </switch>
								</td>
								<td>{$voo.tel}</td>
								<td>{$voo.aa}</td>
								<td>{$voo.bb}</td>
								<!--<td>{$voo.class}</td>-->
								<td>{$voo.class1}=>{$voo.class2}</td>
								<td>{$voo.first_time}</td>
								<td>{$voo.timed}</td>
								<td>{$voo.ze}</td>
								<td>{$voo.count}</td>
								<td>{$voo.countd}</td>
								<td><empty name="voo.km">&nbsp;<else/>{$voo.km}</empty></td>
								<td><empty name="voo.sy">&nbsp;<else/>{$voo.sy}</empty></td>
								<td>{$voo.je}</td>
								<td><empty name="voo.why1">&nbsp;<else />{$voo.why1}</empty></td>
								<td><empty name="voo.why2">&nbsp;<else />{$voo.why2}</empty></td>
								<td><empty name="voo.xqgt">&nbsp;<else />{$voo.xqgt}</empty></td>
								<td><empty name="voo.why3">&nbsp;<else />{$voo.why3}</empty></td>
								<td><empty name="voo.time1">&nbsp;<else />{$voo.time1}</empty></td>
								<td><empty name="voo.cwqr_time">0000-00-00<else />{$voo.cwqr_time}</empty></td>
								<td><empty name="voo.xqsh_time">0000-00-00<else />{$voo.xqsh_time}</empty></td>
								<td><empty name="voo.zbgt_time">0000-00-00<else />{$voo.zbgt_time}</empty></td>
								<td><empty name="voo.region_time">0000-00-00<else />{$voo.region_time}</empty></td>
								<td><empty name="voo.time2">0000-00-00<else />{$voo.time2}</empty></td>
								<td><empty name="voo.jtsp_time">0000-00-00<else />{$voo.jtsp_time}</empty></td>
								<td><empty name="voo.time3">0000-00-00<else />{$voo.time3}</empty></td>
								<td>{$voo.other}</td>
							</tr>
						</foreach>
					</tbody>
			</table>
		</div>		
	</div>	
		
	</form>
</div>
<div class="page">{$page}</div>
<div class="panel panel-default">
	<div class="panel-body"><h3>审核中的项目合计：<php>echo round($cont,2)</php>元</h3>
	</div>
</div>
</block>
<block name="js">
<script type="text/javascript">
	//如果是总部沟通页面，则在页面里添加总部沟通时间参数，传入后台进行保存
	if(document.getElementById("zbgt_time")) {
		var dd = new Date();
		var tt = dd.getFullYear() + "-" + ((dd.getMonth() + 1) < 10 ? ('0' + (dd.getMonth() + 1)) : (dd.getMonth() + 1)) + "-" + ((dd.getDate()) < 10 ? ('0' + (dd.getDate())) : (dd.getDate())) + " " + ((dd.getHours()) < 10 ? ('0' + (dd.getHours())) : (dd.getHours())) + ":" + ((dd.getMinutes()) < 10 ? ('0' + (dd.getMinutes())) : (dd.getMinutes())) + ":" + ((dd.getSeconds()) < 10 ? ('0' + (dd.getSeconds())) : (dd.getSeconds()));
		document.getElementById("zbgt_time").value = tt; 
	}
	
	
	$('#xqsh').click(function(){
		var flag = true;
		var flag_NO ='';
		var checkboxes =$("input[name='id[]']:checkbox:checked");
		var id=$("input[name='id[]']:checkbox:checked").val();
		if(id){
			$.each(checkboxes, function(i,obj){
				if($(obj).val()){
					$.ajax({
				         url: "{:U('Return/api_c')}",
				         data: "id="+$(obj).val(),
				         type: "POST",
				         async:false,
				         dataType:"json",
				         success: function(msg){
				         	if(msg.xqgt == "" || msg.xqgt == undefined){
				         		flag = false;
				         		flag_NO += "," + msg.id;
				         	}
				         }
				      });
				}
			});
			
			if(!flag){
				if(flag_NO != ''){
					flag_NO = flag_NO.substr(1);
				}
				alert('以下序号：' + flag_NO + '的记录 “校长沟通” 内容不能为空，请逐个选中后点击-》直接修改按钮进行修改！');
				return;
			}else{
				$('#tgsh').val("通过审核");
				$('#form_data').submit();
			}
		
		}else{
			alert('请选择要操作的数据！');
		}
		
		
		
	});
	
	$('#cwqr').click(function(){
		var flag = true;
		var flag_NO ='';
		var checkboxes =$("input[name='id[]']:checkbox:checked");
		var id=$("input[name='id[]']:checkbox:checked").val();
		if(id){
			$.each(checkboxes, function(i,obj){
				if($(obj).val()){
					$.ajax({
				         url: "{:U('Return/api_c')}",
				         data: "id="+$(obj).val(),
				         type: "POST",
				         async:false,
				         dataType:"json",
				         success: function(msg){
				         	if(msg.kf_type == "" || msg.kf_type == undefined){
				         		flag = false;
				         		flag_NO += "," + msg.id;
				         	}
				         }
				      });
				}
			});
			
			if(!flag){
				if(flag_NO != ''){
					flag_NO = flag_NO.substr(1);
				}
				alert('以下序号：' + flag_NO + '的记录 “扣费类型” 内容不能为空，请逐个选中后点击-》直接修改按钮进行修改！');
				return;
			}else{
				$('#tgsh').val("通过审核");
				$('#form_data').submit();
			}
		
		}else{
			alert('请选择要操作的数据！');
		}
		
		
		
	});
	
	//列表项选择事件操作
	$("#llst").on('click','tr',null,function(){

      $("#llst tr").removeClass("active");
		  $(this).attr("class", "active");
    });	
    
	/*批量审批无法验证
	 * $('#xqsh').click(function(){
		var id=$("input[name='id[]']:checkbox:checked").val();
	
		if(id){
			$.ajax({
		         url: "{:U('Return/api_c')}",
		         data: "id="+id,
		         type: "POST",
		         async:true,
		         dataType:"json",

		         success: function(msg){
		         	if(msg.xqgt == "" || msg.xqgt == undefined){
		         		alert('“校长沟通”内容不能为空，请点击-》直接修改进行修改！');
		         	}else{
		         		$('#tgsh').val("通过审核");
		         		$('#form_data').submit();
		         	}
		         }
		      });
		}else{
			alert('请选择要操作的数据！');
		}
		
	})*/
	
	
	function change(){
		var id=$("input[name='id[]']:checkbox:checked").val();
		      $.ajax({
		         url: "{:U('Return/api_c')}",
		         data: "id="+id,
		         type: "POST",
		         async:true,
		         dataType:"json",

		         success: function(msg){
		         	$("#adv_aa").removeClass("hidden");
		         	$("#adv_aa").find("input[name='student']").val(msg.student);
		         	$("#adv_aa").find("select[name='grade']").val(msg.grade);
		         	$("#adv_aa").find("input[name='tel']").val(msg.tel);
		         	$("#adv_aa").find("input[name='aa']").val(msg.aa);
		         	$("#adv_aa").find("input[name='bb']").val(msg.bb);
		         	$("#adv_aa").find("select[name='why1']").val(msg.why1);
		         	$("#adv_aa").find("select[name='class1']").val(msg.class1);
		         	$('#adv_aa .class_type').change();
		         	$("#adv_aa").find("select[name='class2']").val(msg.class2);
		         	$("#adv_aa").find("input[name='timed']").val(msg.timed);
		         	$("#adv_aa").find("input[name='ze']").val(msg.ze);
		         	$("#adv_aa").find("input[name='count']").val(msg.count);
		         	$("#adv_aa").find("input[name='countd']").val(msg.countd);
		         	$("#adv_aa").find("input[name='km']").val(msg.km);
		         	$("#adv_aa").find("textarea[name='sy']").val(msg.sy);
		         	$("#adv_aa").find("input[name='je']").val(msg.je);
		         	$("#adv_aa").find("input[name='id']").val(msg.id);
		         	$("#adv_aa").find("textarea[name='why2']").val(msg.why2);
		         	$("#adv_aa").find("textarea[name='xqgt']").val(msg.xqgt);
		         	$("#adv_aa").find("input[name='why3']").val(msg.why3);
		         	$("#adv_aa").find("input[name='other']").val(msg.other);
		         	$("#adv_aa").find("select[name='yj_type']").val(msg.yj_type);
		         	$("#adv_aa").find("select[name='kf_type']").val(msg.kf_type);
		         	$("#adv_aa").find("input[name='first_time']").val(msg.first_time);
		         	$("#adv_aa").find("select[name='region']").val(msg.region);
		         }
		      });
	}

	function change_c(){
         	$("#adv_aa").addClass("hidden");
	}
	
	
	$('.class_type').change(function(){
		
		$(".sub_type option").remove();
		var sub = '{:json_encode($class2)}';
		var obj = $.parseJSON(sub);
		var tval = $(this).val();
		$.each(obj, function(i,vo) {
			if(tval == vo['group']){
				$('.sub_type').append("<option value='" + vo['id'] + "'>" + vo['name'] +  "</option>");
			}
			
		});
		
	});

</script>
</block>