<extend name="Layout/ins_page" />
<block name="content">
<style>
.input-group{margin: 10px 0;}
#apply_form li{ width: 200px;float: left;margin: 5px;list-style: none;font-weight: bold;}
.table-responsive{max-height: 500px;overflow: auto;}
#apply_list{min-width: 3000px;}
.pagination {margin: 0;} 
.td_dept_name{width: 120px;}
.td_info{white-space: inherit !important;word-wrap:break-word;word-break:break-all;max-width: 500px;}
.td_other{white-space: inherit !important;word-wrap:break-word;word-break:break-all;max-width: 500px;}
.notes{white-space: inherit !important;word-wrap:break-word;word-break:break-all;max-width: 300px;}
.money_time,.td_update_time,.td_create_time{width: 155px;}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 15px;
    height: 20px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(35,198,200,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(35,198,200,0.4); 
}

</style>

<div class="page-header clearfix">
    <div class="col-sm-3">
        <h1>新课程申请</h1>
    </div>
    
    <div class="col-sm-12">
        <a class="btn btn-sm btn-success pull-right" onclick="toggle_adv_search();"><i id="toggle_adv_search_icon" class="fa fa-chevron-down bigger-125"></i></a>
    </div>
</div>

<!-- 搜索部分 -->
<form class="panel panel-default hidden" id="adv_search" method="post" action="{:U('export')}">
    <div class="panel-heading">
        <input type="hidden" name="stage" value="<switch name="ACTION_NAME"><case value="index">1</case><case value="apply">2</case><case value="cost">3</case><case value="examine">4</case><case value="manage">5</case></switch>">
        <div class="row">
            <h4 class="col-xs-6">高级搜索</h4>
            <div class="col-xs-6 text-right">
                <a class="btn btn-info" onclick="loadData(0)">筛选</a>
                <if condition="(ACTION_NAME eq 'manage')"><button type="submit" class="btn btn-info">导出</button></if>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="form-inline">
            
            <div class="input-group">
                <a class="input-group-addon">活动开始日期</a>
                <input name="date1" type="date" class="form-control">
                <a class="input-group-addon">-</a>
                <input name="date2" type="date" class="form-control">
            </div>
            
            <div class="input-group">
                <a class="input-group-addon">新课程名称</a>
                <input type="text" name="course_info" class="form-control" placeholder="新课程名称"/>
            </div>
            
            <div class="input-group">
                <a class="input-group-addon">审核状态</a>
                <select name="state" class="form-control"><option value="">全部</option>{:fill_option_ex(get_config('APPLYCOURSE_STATE'))}</select>
            </div>
            
            <div class="input-group">
                <a class="input-group-addon">流程状态</a>
                <select name="back" class="form-control"><option value="">全部</option><option value="0">正常</option><option value="1">退回</option></select>
            </div>
            
            <if condition="(ACTION_NAME eq 'examine') OR (ACTION_NAME eq 'manage')">
                
                <div class="input-group">
                    <a class="input-group-addon">申请校区</a>
                    <select name="school" class="form-control"><option value="">全部</option>{:fill_option_ex(C('SCHOOL'))}</select>
                </div>
                
                <div class="input-group">
                    <a class="input-group-addon">区域</a>
                    <select name="area" class="form-control"><option value="">请选择区域</option><option>辽宁</option><option>吉林</option><option>黑龙江</option><option>其他</option></select>
                </div>
                <div class="input-group col-35">
	                <a class="input-group-addon">申请人</a>
	                <select name="apply_user" class="form-control"><option value="">请选择校长</option><foreach name="rector" item="vo"><option value="{$vo.name}#({$vo.id})">{$vo.school}</option></foreach></select>
	            </div>
            </if>
            
            <div class="input-group col-15">
                <a class="input-group-addon">序号</a>
                <input name="id" class="form-control">
            </div>
        </div>
    </div>
</form>

<!-- 录入修改部分 -->
<form id="apply_form" class="panel panel-default" <if condition="ACTION_NAME neq 'index'"> style="display:none;"</if>>
    <div class="panel-heading">
        <div class="pull-right">
            <if condition="ACTION_NAME eq 'index'"><button type="submit" class="btn btn-danger" id="bt_add">保存</button></if>
            <button type="submit" class="btn btn-danger" style="display:none;" id="bt_save_change">修改</button>&nbsp;
            <button type="reset" class="btn btn-danger" onclick="$('#apply_list .success').removeClass('success');$('input[type=hidden]').val('');">清空</button>
        </div>
        <h3>申请/修改</h3>
    </div>
    <div class="panel-body">
        <ul><input type="hidden" name="id">
            
            <li>归属校区：<select name="school" class="form-control" required><option value="">请选择学校</option>{:fill_option_ex(C('SCHOOL'))}</select></li>
            <li>区域：<select name="area" class="form-control" required><option value="">请选择区域</option><option>辽东</option><option>辽西</option><option>吉林</option><option>黑龙江</option><option>多种经营事业部</option><option>鸿文优途</option></select></li>
            <li>申请人：<select name="apply_user" class="form-control" required><option value="">请选择校长</option><foreach name="rector" item="vo"><option value="{$vo.name}#({$vo.id})">{$vo.school}</option></foreach></select></li>
            <li>新课程名称：<input type="text" name="course_info" class="form-control" required></li>
            
            <li>课程类型：<input type="text" name="class_type" class="form-control" required></li>
            <li>活动开始时间：<input name="activity_begin" class="form-control" type="date" required></li>
            <li>活动结束时间：<input name="activity_end" class="form-control" type="date" required></li>
            <li>课程年级：<select name="grade[]" class="form-control" multiple="multiple" required>
                           {:fill_option_ex($gradeList)}
                       </select>
            </li>
            <li>开设科目（多选）：<select id="subjects" name="subject[]" class="form-control" multiple="multiple" required="required"><option>语文</option><option>英语</option><option>数学</option><option>物理</option><option>化学</option><option>生物</option><option>政治</option><option>历史</option><option>地理</option></select></li>
            <li>收费及优惠说明：<textarea name="charge_descp" class="form-control"  rows="4" cols="80" placeholder="收费及优惠说明" required="required"></textarea></li>
            <li>营销手段：<select name="marketing[]" class="form-control" required multiple="multiple"><option>朋友圈</option><option>传单</option><option>海报</option><option>展架</option><option>条幅</option><option>吊旗</option><option>其他</option></select></li>
            <li>课程亮点提炼：<textarea name="course_point" class="form-control" required rows="4" cols="80" placeholder="课程亮点提炼"></textarea></li>
            <li>期望审批日期<input type="date" name="expect_date" class="form-control" required="required"></li>
            <li>其他说明<input type="text" name="other" class="form-control"></li>
        </ul>
    </div>
</form>

<!-- 审核相关按钮 -->
<div class="panel panel-default">
    <div class="panel-body">
        <if condition="ACTION_NAME eq 'index'"><button class="btn btn-info" onclick="check(1);">计划提交</button></if>

        <if condition="(ACTION_NAME eq 'examine')OR(ACTION_NAME eq 'manage')">
            <button class="btn btn-info" onclick="check(1);">通过</button>
        	<if condition="$_SESSION.auth_id neq '509'">    
            	<button class="btn btn-info" onclick="check(0);">退回</button>
            </if>
        </if>
        
        <if condition="(ACTION_NAME neq 'finance') AND ($_SESSION.auth_id neq '509')">
        	<button class="btn btn-info" id="bt_change">修改</button>
            <button class="btn btn-danger" onclick="check(-1)">删除</button>
        </if>
    </div>
</div>

<!-- 页面数据列表 -->

<div class="btn btn-info">申请流程：校长申请=>区域总监审核=>运营中心审批=>数据中心=>财务确认</div>

<div class="table-responsive">
    <table id="apply_list" class="table table-bordered table-hover table-condensed">
    </table>
</div>

<!-- 底部数据统计以及页码 -->
<div class="panel-body">
    <ul id="pagination" class="pagination pull-right" data-offset="0" data-count="30" data-total="300">
    </ul>
</div>


<!-- 附件添加浏览 -->
<div class="modal fade" id="picture">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3>附件管理</h3>
            </div>
            <div class="modal-body">
                <div class="panel panel-success">
                    <div class="panel-body">
                        <form  method="post" enctype="multipart/form-data" action="{:U('add_picture')}">
                            <input type="file" name="pic" required/>
                            <button class="btn btn-primary pull-right">添加保存</button>
                        </form>
                    </div>
                </div>
                <div class="panel panel-primary">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="loading"></div>
</block>
<block name="js">
<script type="text/javascript">

    // 页面会用到的类型id
    STATE={:json_encode(get_config('APPLYCOURSE_STATE'))};//审核状态
    SCHOOL={:json_encode($school)};
    

$(document).ready(function(){
    loadData(0);//页面数据加载
});

    // 页码绑定事件
    $('#pagination').on('click', '.page', function(){
        var page_offset = ($(this).data('page') - 1) * $('#pagination').data('count');
        loadData(page_offset);
    });
    //金额自动计算
    $('input[name=unit_price],input[name=count]').change(function(){
        var mm = $('input[name=unit_price]').val()*$('input[name=count]').val();
        $('#mm').val(mm.toFixed(2));
    })
    //添加/修改申请
    $("#apply_form").submit(function(event){
        event.preventDefault();
        
        Ycom.loading.show();
        var data = $("#apply_form").serializeArray();
        $.post("{:U('write')}",data,function(msg){
            loadData(0);
            ui_info(msg);
        });
        //清空表单（忽略部分项目）
        Ycom.clearForm('#apply_form','[name=school],[name=area],[name=apply_user],[name=class_type],[name=class_point]');
        $("#bt_add").show();
        $("#bt_save_change").hide();
    })
    // 数据列表点击事件
    $("#apply_list").on('click','tbody tr',function(){
        $("#apply_list tr").removeClass('success');
        $(this).addClass('success');
    })
    //全选/取消
    $("#apply_list").on('click','#checkbox',function(){
        $("#apply_list tbody input[type=checkbox]").prop('checked',($(this).prop('checked')==true)?true:false);
    })
    //修改功能,只修改其中一个
    $("#bt_change").click(function(){
        var id = $("#apply_list tbody input:checked").val();
        var data = $("#apply_list tbody input:checked").data('info');
        if(id==undefined){
            ui_error('请选择要修改的项目！');
        }else{
            $("#apply_form").show();
            Ycom.fillForm('#apply_form',data);
            $('#bt_save_change').show();
            $('#bt_add').hide();
            //$('input[name=unit_price]').change();
        }
    })
    //审核数据(1通过、0退回、-1删除)
    function check(type){
        if($("#apply_list tbody input:checked").val()==undefined){
            ui_error('请选择要操作的项目！');
            return;
        }
        Ycom.loading.show();
        var data = $("#apply_list tbody input:checked").serializeJson();
        var why = '';
        if(type==0){
            why = prompt('退回原因(必填)：','');
            if(why==''||why==null){
                Ycom.loading.hide();
                return;
            }
        }
        if(data.id!=undefined)
        $.post('{:U("check")}',{type:type,data:data,why:why},function(msg){
            if(msg=='ok')ui_info('操作成功');
            loadData(0);
        })
    }
    //td内容变化时，更新保存数据
    $("#apply_list").on('blur','.td_money,.td_notes,.td_buy_transport',function(){
        var name=$(this).prop('class').replace('td_','');
        var val=$(this).text();
        var data = JSON.parse('{"'+name+'":"'+val+'"}');
            data.id=$(this).parents('tr').find('.td_id').text();
        // if(val!=''&&val!='0')
        $.post("{:U('write')}",data,function(msg){
            if(msg!='操作失败')
            ui_info(msg);
        })
    })

//加载数据列表
function loadData(offset) {
    Ycom.loading.show();
    var search = $('#adv_search').serializeJson();
    var count = $('#pagination').data('count');
    var money = 0 ;//项目合计金额
    $.ajax({
        url: '{:U("ApplyCourse/ajax_list")}',
        type: 'GET',
        dataType: 'JSON',
        data: {search: search, offset: offset, count: count},
    })
    .done(function(result) {
        for(var x in result.data){
            //将数据完整保存在checkbox上，方便修改功能使用
            result.data[x]._checkbox = '<input type="checkbox" name="id" value="'+result.data[x].id+'" data-info=\''+JSON.stringify(result.data[x])+'\'>';
            if(result.data[x].edit == '0')result.data[x]._checkbox ='';
            //result.data[x].stage = (result.data[x].state<60)?'计划申请':(result.data[x].state<90)?'资金申请':'报销申请';
                //被退回的数据显示退回的原因
            if(result.data[x].back==1){
                result.data[x].state = '<a title="' + result.data[x].why + '"  data-toggle="tooltip" data-placement="top" data-original-title="' + result.data[x].why + '">'+STATE[result.data[x].state]+'</a>';
                result.data[x].back = '退回';
            }else{
                result.data[x].state = STATE[result.data[x].state];
                result.data[x].back = '正常';
            }
            
            result.data[x].school = SCHOOL[result.data[x].school];
        }
        if (result.state == 'ok') {
            Ycom.table('#apply_list', {
                '_checkbox':'<input type="checkbox" id="checkbox">',
                'id':'序号',
                'back':'流程状态',
                'state':'审核状态',
                'school':'申请校区',
                'area':'区域',
                'apply_user2':'申请人',
                'course_info':'新课程名称',
                'graded':'课程年级',
                'class_type':'课程类型',
                'activity_begin':'活动开始时间',
                'activity_end':'活动结束时间',
                'subject':'开设科目',
                'charge_descp':'收费及优惠说明',
                'marketing':'营销手段',
                'course_point':'课程亮点提炼',
                'expect_date':'期望审批日期',
                'other':'其他说明',
                'why':'退回原因',
                'update_time':'最后审核时间',
                'create_time':'数据创建时间',
            }, result.data);
            
            Ycom.page.reset('#pagination', offset, count, result.total);// 重置页码样式
            
            $('[data-toggle="tooltip"]').tooltip();
        }else{
            ui_info(result.info);
        }
    })
    .fail(function() {
        ui_error('网络错误，请稍后再试')
    })
    .always(function(result) {
        if (typeof(always) != "undefined") {
            always(result);
        }
        Ycom.loading.hide();
    });
}

</script>
</block>

