<extend name="Layout/ins_popup" />
<block name="content">
	<input type="hidden" name="ajax" id="ajax" value="1">

	{:W('PageHeader/popup',array('name'=>'添加汇报关联','search'=>'N'))}
	<!-- 列表显示区域  -->
	<div class="row">
		<div class="col-xs-12 sub_content">
			<form id="form_data" name="form_data" method="post" class="well form-horizontal clearfix">
				<input type="hidden" name="opmode" id="opmode" value="add">
				<div class="form-group col-xs-12">
					<label class="col-xs-3 control-label" for="name">汇报人姓名*：</label>
					<div class="col-xs-9">
						<input class="form-control" type="text" id="name" name="name" placeholder="必须与微信通讯录一致" check="require" msg="请输入名称">
					</div>
				</div>
				<div class="form-group col-xs-12">
					<label class="col-xs-3 control-label" for="dept_name">任务汇报上级*：</label>
					<div class="col-xs-9">
						<div class="input-group">
							<input name="dept_name" class="form-control" id="dept_name" type="text" readonly="readonly" msg="请选择上级部门" check="require"/>
							<input name="pid" id="pid" type="hidden" msg="请选择上级部门" check="require" />
							<span class="input-group-btn">
								<button class="btn btn-sm btn-primary" onclick="select_pid()" type="button">
									选择
								</button> </span>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</block>
<block name="js">
	<script type="text/javascript">
		function save() {
			if (check_form("form_data")) {
				var vars = $("#form_data").serialize();
				sendAjax("{:U('save')}", vars, function(data) {
					if (data.status) {
						ui_alert(data.info, function() {
							parent.location.reload(true);
							myclose();
						});
					}else{
						ui_error(data.info);
					}
				});
			}
		}

		function select_pid() {
			winopen("{:U('winpop')}", 730, 500);
		}

		$(document).ready(function() {
			$pid = $("#id", parent.document).val();
			$("#pid").val($pid);
		});
	</script>

</block>
