<extend name="Layout/ins_page" />
<block name="content">
<link href="__INS__/js/plugins/jqPagination/css/jqpagination.css" rel="stylesheet"/>
	{:W('PageHeader/search',array('name'=>'班级与班主任管理','search'=>'S'))}
	
	<div class="row">
		<div class="col-sm-7 sub_left_menu ">
			<form id="form_class_teacher" name="form_data" method="post" class="form-horizontal">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th class="text-center col-4">
								<input type="checkbox" name="id-toggle-all" id="id-toggle-all" />
							</th>
							<th>班级</th>
							<th>班主任</th>
						</tr>
					</thead>
					<tbody id="llst">
						<volist name="list" id="data">
							<tr id="{$data.id}" class="tbody">
								<td class="text-center col-3">
									<input type="checkbox" name="floor_id[]" value="{$data.id}" />
								</td>
								<td class="click">{$data.floor}</td>
								<td class="click">{$data.responsor}</td>
							</tr>
						</volist>
					</tbody>
				</table>
			</form>
			 <!-- 分页插件 -->
		<div class="pagination" id="pagination_floor">
		    <a href="#" class="first" data-action="first">&laquo;</a>
		    <a href="#" class="previous" data-action="previous">&lsaquo;</a>
		    <input id="pager_input" type="text" readonly="readonly"  onclick="return false;" data-max-page="(({$maxCount} % pageCount) == 0) ?  {$maxCount}/pageCount: parseInt({$maxCount}/pageCount)+1"/>
		    <a href="#" class="next" data-action="next">&rsaquo;</a>
		    <a href="#" class="last" data-action="last">&raquo;</a>
		    
		</div>
		</div>
		<div class="col-sm-5">
			<form id="form_data" name="form_data" method="post" class="form-horizontal">
				<input type="hidden" name="id" id="v_id">
				<div>
					<input type="button" onclick="add()"  class="btn btn-sm btn-primary" value="新增"></input>
					<input type="submit" onclick="save()"  class="btn btn-sm btn-primary" value="修改"></input>
					<input  type="submit" onclick="del()"  class="btn btn-sm btn-danger" value="删除"></input>
				</div>
				<p>
				<table class="table table-bordered" >
					<tr>
						<th class="col-10">楼层</th>
						<td id="floor"></td>
						
					</tr>
					<tr>
						<th class="col-10">楼层负责人*</th>
						<td>
							<select name="responsor" id="responsor" class="form-control" msg="请选择楼层负责人" check="require">
								<option value="">选择楼层负责人</option>
								<volist name="teacher_list" id="data">
	                				<option value="{$data.name}">{$data.school}&nbsp;&nbsp;{$data.position}&nbsp;&nbsp;{$data.name}</option>
	     						</volist>
							</select>
							<br/>
			            	<input type="text" id="filter_t" placeholder="此处可进行下拉列表项内容筛选">
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</block>
<block name="js">
	<script type="text/javascript">
		var op_type= 'save';
		sid=0;
		pageCount = 1; //每页显示多少条记录(全局变量)
		currentPage = 1; //当前页码
		maxPage = (({$maxCount} % pageCount) == 0) ?  {$maxCount}/pageCount: parseInt({$maxCount}/pageCount)+1; //最大页码
		pageString = '';
		  $(document).ready(function(){
		  	
		  	
		/**
		 *
		 * 绘制动态表格公用函数
		 * @param {Object} data  表格实体数据，由后台返回;
		 * @param {Object} tbody_id 涵盖该 tr的tbody的ID，为字符串类型;
		 * @param {Object} button_method_arr 每行最后一格中的按钮对应的函数名称，为数组类型;
		 * @param {Object} method_param_arr 按钮调用的方法的参数数组，为数组类型；
		 * @param {Object} button_name_arr 每行最后一格中的按钮对应的名称，这里要和button_method_arr中的数据的顺序一致，为数组类型;
		 * @param {Object} field_arr 表格中显示的各个内容对应的数据表的字段名称，这个要和数据库表的名称一致,为数组类型;
		 * @param {Object} check_name 代表checkbox复选框的name的名称，方便后续的复选框操作，为字符串类型;
		 * @param {Object} select_lst_arr  值为数字或者字符串，显示为汉字的下拉列表，对应的数组的名字,为数组类型;
		 * @param {Object} a_link_arr 需要超链接包围的显示字段，为数组类型;
		 * @param {Object} a_link_url 相应位置超链接的url地址，为数组类型;
		 * @param {Object} a_link_param 相应位置超链接的url地址中需要绑定的参数，为数组类型;
		 * @param {Object} a_link_target 超链接弹出页面的方式设定，target，例如：_blank
		 * @param {Object} a_fun_arr  超链接如果有函数，这里是函数名称，为数组类型;
		 * @param {Object} a_fun_param_arr 函数中的参数字段，该字段需要在data中存在
		 */
		  	$.drawTrTd=function (
		  		data,
		  		tbody_id,
		  		button_method_arr,
		  		method_param_arr,
		  		button_name_arr,
		  		field_arr,
		  		check_name,
		  		select_lst_arr,
		  		a_link_arr,
		  		a_link_url,
		  		a_link_param,
		  		a_link_target,
		  		a_fun_arr,
		  		a_fun_param_arr){
		  		$.each(data, function(i,value) {
		  			var temp_str = '';
		  			$('#' + tbody_id).append('<tr id="' + value.id + '" >');

		  			//列表checkbox选择组件创建
		  			if(check_name != null){
		  				$('#' + value.id).append('<td class="text-center col-3"><input type="checkbox" name="' + check_name + '" id="check' + value.id + '" class="' + value.id + '"  value="' + value.id + '" /></td>');
		  			}

		  			for(var i=0;i<field_arr.length;i++){
		  				//单元格起始构建
		  				temp = '<td class="click">';

		  				//判断是否有超链接
		  				if(a_link_arr !=null && ($.inArray(field_arr[i],a_link_arr) != -1)){
		  					var a_temp_str = '';

		  					//超链接起始构建
		  					if(a_link_param != null){
		  						//如果url地址需要参数
		  						a_temp_str += '<a href="' + a_link_url[$.inArray(field_arr[i],a_link_arr)];
		  						//添加参数
		  						for(var n=0;n<a_link_param.length;n++){
		  							a_temp_str += '&' + a_link_param[n] + '=' + $.trim(eval('value.' + a_link_param[n]));
		  						}
		  						a_temp_str +=  '" ';
		  					}else{
		  						a_temp_str += '<a href="' + a_link_url[$.inArray(field_arr[i],a_link_arr)] + '" ';	
		  					}
		  					
		  					//onclick函数起始构建
		  					if(a_fun_arr != null){
		  						a_temp_str += 'onclick="' + a_fun_arr[$.inArray(field_arr[i],a_link_arr)]  + '(';
		  					}

		  					//函数的参数全构建
		  					if(a_fun_param_arr != null){
		  						for(var k=0;k<a_fun_param_arr.length;k++){
									a_temp_str += ($.trim(eval('value.' + a_fun_param_arr[k]))== undefined ? '': "'" + $.trim(eval('value.' + a_fun_param_arr[k]))) + "',";
		  						}

		  						a_temp_str = a_temp_str.substring(0,a_temp_str.lastIndexOf(','));
		  						a_temp_str += (')"')
		  					}
							
							if(a_link_target != null){
								a_temp_str += 'target=' + a_link_target + '>';
							}else{
								a_temp_str += '>';	
							}
							
		  					

		  					//添加超链接起始部分
							temp += a_temp_str;

		  				}


		  				//添加单元格内容部分
		  				if($.inArray(field_arr[i],select_lst_arr) != -1){
		  					//单元格内容如果是select组件中的value部分，需要转义的，通过在这里实现，但是javascript脚本最开始的部分需要添加相应的php代码带获取相应的数组，这部分内容在后期会进一步完善，会把该数组也放到该函数内来实现。
		  					temp += (((eval('value.' + field_arr[i])== undefined) || ($.trim(eval('value.' + field_arr[i]))==''))? '': eval(field_arr[i] + '['  + eval('value.' + field_arr[i]) + ']'));
		  				}else{
		  					temp += ((eval('value.' + field_arr[i])== undefined || eval('value.' + field_arr[i])== false) ? '': eval('value.' + field_arr[i]));
		  				}

		  				//超链接结束标签构建
		  				if(a_link_arr !=null && ($.inArray(field_arr[i],a_link_arr) != -1)){
		  					temp += '</a>';
		  				}

		  				//单元格结束标签构建
		  				temp += '</td>';

		  				$('#' + value.id).append(temp);
		  			}


		  			if(button_method_arr != null){
		  				for(var j=0;j<button_method_arr.length;j++){
		  					if(method_param_arr != null){
		  						var param_str = '';
		  						temp_str += '<button class="btn btn-xs btn-primary" onclick="' + button_method_arr[j] + '(';
		  						for(var k=0;k<method_param_arr.length;k++){
		  							param_str += "'" + (eval('value.' + method_param_arr[k]) == undefined ? '':eval('value.' + method_param_arr[k])) + "',"
		  						}
		  						param_str = param_str.substring(0,param_str.length-1);
								temp_str += param_str;
		  						temp_str += ')">' + button_name_arr[j] + '</button>&nbsp;|&nbsp;';
		  					}else{
		  						temp_str += '<button class="btn btn-xs btn-primary" onclick="' + button_method_arr[j] + '(' + value.id +')">' + button_name_arr[j] + '</button>&nbsp;|&nbsp;';
		  					}

		  				}
		  				temp_str = temp_str.substring(0,temp_str.lastIndexOf('>')+1);
		  				$('#' + value.id).append('<td>' + temp_str  + '</td>');
		  			}
		  	});
		 }
		  	
		  	$('#pagination_floor').jqPagination({
									link_string	: '/?page={page_number}',
									max_page	: maxPage,
									paged		: function(page,param) {
										
									var pageNumber = (page-1)*pageCount //从第几行开始查询
									
									var data = null;// $('#d_form_search').serializeArray();
//									data.push($('#form_search').serializeArray()[0]);
//									var keyword = $('#keyword').val();
									
//									var search = new Object();
//									search = {name:'keyword',value:keyword};
//									
//									data.push(search);
									
									$.ajax({
										type:'POST',
										async:false,
										cache:false,
										url:"{:U('floor')}&pageNumber=" + pageNumber + "&pageCount=" + pageCount + "&page=" + page,
										dataType:'json',
										data:data,
										success:function(msg,status){
											if(status=="success"){
												var page = this.url.split('&')[5].substr(5); //通过url请求路径中添加的参数来获取当前页码;
												currentPage = page; //设置当前页码
												maxPage = ((msg.maxCount % pageCount) == 0) ?  msg.maxCount/pageCount: parseInt(msg.maxCount/pageCount)+1; //最大页码;

												if(msg.data != null && msg.data.length > 0 ){
													$('#llst').empty();

													var button_method_arr = null;
													var button_name_arr = null;
													var field_arr = ['floor','responsor'];
													var check_name = 'floor_id[]';
													var select_lst_arr = null;
													
													var method_param_arr = null;
													var a_link_arr = null;
													var a_link_url = null;
													var a_link_param = null;
													var a_link_target = null;
													var a_fun_arr = null;//['$.showDialog'];
													var a_fun_param_arr = null;//['id','name','grade','wl','frequency','visit_type','std_id'];

													$.drawTrTd(msg.data,'llst',button_method_arr,method_param_arr,button_name_arr,field_arr,check_name,select_lst_arr,a_link_arr,a_link_url,a_link_param,a_link_target,a_fun_arr,a_fun_param_arr);

												}else{
													$('#llst').empty();
												}

											}
										}
									});

									if(maxPage <= 0){
										this.page_string = '没有符合条件的记录';
										maxPage = 1;
									}else if(this.page_string == '没有符合条件的记录'){
										this.page_string = 'Page {current_page} of {max_page}';
									}
									
									this.current_page = (currentPage>=maxPage ? maxPage : currentPage);
									this.max_page = maxPage;
									
									
									$('#pagination_floor').jqPagination('option',{'current_page':currentPage,'trigger': false}); //设置分页插件的当前页码
									Ycom.loading.hide();
								}

			});


			//列表项选择事件操作
			$("#llst").on('click','tr',null,function(){
			
		      $("#llst tr").removeClass("active");
			  $(this).attr("class", "active");
				  
				  $tr = $(this);
					/* $(".sub_left_menu tbody tr.active").removeClass("active");
					$tr.addClass("active"); */
					
					$('#floor').html($($tr.children()[1]).html());
					$('#responsor').val($($tr.children()[2]).html())
					$('#v_id').val($tr.attr('id'))
		    });	
		    
		    
		  //	查询所有记录，刷新列表
			function searchAll(){
					var currentPage = $('.pagination').jqPagination('option','current_page');
					$('.pagination').jqPagination('option',{'current_page':currentPage,'trigger': true}); //设置分页插件的当前页码
					
			}
		     //查询按钮操作
			$('#search_ajax').bind("click",function(){
					$('#keyword_id').val($('#keyword').val());
					/* var data = $('#d_form_search').serializeArray(); */
//					进行查询操作
				  searchAll();
			});
		    
		  
		   //筛选按钮操作
			  $('#search').click(function(param){
					$('#search_ajax').click();
				});
		   
		   
			  /* $(".sub_left_menu tbody td.click").on('click',function() {debugger;
					
				}); */
			  
			  
			  $('#filter_t').on('keyup',function(e){
			  		$('#responsor option').show();
			  		$('#responsor option').each(function(){
			  			if($(this).text().indexOf($('#filter_t').val()) == -1){
			  				$(this).attr('dq','1'); //该属性，无任何意义，就是为了实现某种显示效果
			  				$(this).hide();
			  			}else{
			  				$(this).attr('dq','2');
			  			}
			  		});
			  		$('#responsor option[dq=2]:first').prop('selected',true)
			  		
			  	});
				
				$('#form_data').submit(function(){
					if(op_type=='del'){
						if($("input[name='floor_id[]']:checked").length==0){
							ui_error('请选择要删除的人员 ');
							return false;
						}else{
							var obj = $("input[name='floor_id[]']:checked");
							var str_id = '';
							$.each(obj,function(i,n){
								str_id += $(n).val() + ",";
							});
							
							$('#v_id').val(str_id.substring(0,str_id.length-1));
							
							if(confirm('确定要删除吗?')){
								$('#form_data').attr('action',"{:U('delFloor')}");
							}else{
								return false;
							}
						}
					}else if(op_type == 'save'){
						if($('#responsor').val()){
							$('#form_data').attr('action',"{:U('updateFloor')}");	
						}else{
							alert('请选择该楼层的负责人！');
							return false;
						}
						
					}
				});
				
		});   
		
		function add() {
			winopen("{:U('openFloor')}", 704,500);
		};
		
		function del() {
			op_type = 'del';
		}

		function save() {
			op_type = 'save';
		}

	</script>
	<script type="text/javascript" src="__INS__/js/plugins/jqPagination/jquery.jqpagination.js"></script>
</block>
