<div class="page-header clearfix">
	<h1 class="col-sm-8">{$name}</h1>
	<div class="col-sm-4">
		<form name="form_search" id="form_search" method="post" class="pull-right">
			<div class="input-group col-20">
				<select id="keyword" name="keyword" class="form-control">
		            <option value="">全部</option>
		            {:fill_option(C($option))}
		          </select>
				<div class="input-group-btn">
					<a href="javascript:void(0);" class="btn btn-sm btn-primary" id="form_submit"><i class="fa fa-search"></i></a>
				</div>
			</div>
		</form>
	</div>
</div>