<extend name="Layout/ins_page" />
<block name="content">
<link href="__INS__/js/plugins/jqPagination/css/jqpagination.css" rel="stylesheet"/>
{:W('PageHeader/search_definition',array('name'=>'意见记录'))}
<form method="post" id="advice_form_search" name="form_adv_search">
  <div class="operate panel panel-default">
    <div class="panel-body">
      <div class="pull-left form-inline">
        <label  for="state"><b>维护状态:</b></label>
        <select id="state" name="state" class="form-control col-10">
          <option value="">全部</option>
          <option value="0">处理中</option>
          <option value="1">已解决</option>
        </select>&nbsp;&nbsp;&nbsp;
        <label  for="xueguan"><b>学习管理师:</b></label>
        <select id="xueguan" name="xueguan" class="form-control col-10">
          <option value="">全部</option>
          <foreach name="xueguan" item="vx" key="k">
          	<option value="{$k}">{$vx}</option>
          </foreach>
        </select>
        <label  for="type"><b>建议类型:</b></label>
        <select id="type" name="type" class="form-control col-10">
          <option value="">全部</option>
          {:fill_option(C('ADVICE_TYPE'))}
        </select>
        <input type="button" class="btn btn-sm btn-primary" name="search" value="查询" id="search_adviceRecord" />
      </div>
    </div>
  </div>
</form>


<div class="row">
  <div class="col-sm-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>学员姓名</th>
          <th>授课讲师</th>
          <th>科目</th>
          <th>学习管理师</th>
          <th>意见类型</th>
          <th>处理状态</th>
          <th>首次建议日期</th>
          <th>最后处理日期</th>
        </tr>
      </thead>
      <tbody id="llst">
      <volist name="data" id="list">
          <tr>
            <td><a href="javascript:void(0);" onclick="$.showInterflow({$list.id})">{$list.name}</a></td>
            <td>{$list.teacher}</td>
            <td>{$list.class}</td>
            <td>{$list.xueguan}</td>
            <td>
            	<switch name="list.type">
            		<case value="11">加课</case>
            		<case value="12">学员作业问题</case>
            		<case value="13">学员状态问题</case>
            		<case value="14">转介绍挖掘</case>
            		<case value="15">其它</case>
            	</switch>
            </td>
            <td>{$list.last_state}</td>
            <td>{$list.timee}</td>
            <td>{$list.last_timee}</td>
          </tr>
        </volist>
      </tbody>
    </table>
  </div>
   <!--今日学生状况分页-->
  <div id="pagination_advice_record" class="pagination" style="float:right;margin-right:35px;">
			    <a href="#" class="first" data-action="first">&laquo;</a>
			    <a href="#" class="previous" data-action="previous">&lsaquo;</a>
			    <input type="text" readonly="readonly"  data-max-page="(({$maxCount} % pageCount) == 0) ?  {$maxCount}/pageCount: parseInt({$maxCount}/pageCount)+1"/>
			    <a href="#" class="next" data-action="next">&rsaquo;</a>
			    <a href="#" class="last" data-action="last">&raquo;</a>
	</div>
</div>


<!-- 教师与学管交流 -->
<div class="modal fade" id="advice_dialog" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document" style="width:800px;">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">教师与学管交流记录</h4>
	      </div>
	      <div class="modal-body">
			    <div class="row">
						  <div class="col-sm-12" id="adviceRecordDvid">

						  </div>

						  <!--<div id="pagination_advice_reply" class="pagination" style="float:right;margin-right:35px;">
						    <a href="#" class="first" data-action="first">&laquo;</a>
						    <a href="#" class="previous" data-action="previous">&lsaquo;</a>
						    <input id="pager_input2" type="text" readonly="readonly"  data-max-page="(({$maxCount} % pageCount) == 0) ?  {$maxCount}/pageCount: parseInt({$maxCount}/pageCount)+1"/>
						    <a href="#" class="next" data-action="next">&rsaquo;</a>
						    <a href="#" class="last" data-action="last">&raquo;</a>
						 </div>-->
						 
					</div>


	    </div>
	  </div>
	</div>
</div>
</block>
<block name="js">
<script type="text/javascript">
sid=0;
pageCount = 10; //每页显示多少条记录(全局变量)
currentPage = 1; //当前页码
maxPage = (({$maxCount} % pageCount) == 0) ?  {$maxCount}/pageCount: parseInt({$maxCount}/pageCount)+1; //最大页码
pageString = '';
var type = {:json_encode(C('ADVICE_TYPE'))};
$(function(){
/**
 *
 * 绘制动态表格公用函数
 * @param {Object} data  表格实体数据，由后台返回;
 * @param {Object} tbody_id 涵盖该 tr的tbody的ID，为字符串类型;
 * @param {Object} button_method_arr 每行最后一格中的按钮对应的函数名称，为数组类型;
 * @param {Object} method_param_arr 按钮调用的方法的参数数组，为数组类型；
 * @param {Object} button_name_arr 每行最后一格中的按钮对应的名称，这里要和button_method_arr中的数据的顺序一致，为数组类型;
 * @param {Object} field_arr 表格中显示的各个内容对应的数据表的字段名称，这个要和数据库表的名称一致,为数组类型;
 * @param {Object} check_name 代表checkbox复选框的name的名称，方便后续的复选框操作，为字符串类型;
 * @param {Object} select_lst_arr  值为数字或者字符串，显示为汉字的下拉列表，对应的数组的名字,为数组类型;
 * @param {Object} a_link_arr 需要超链接包围的显示字段，为数组类型;
 * @param {Object} a_link_url 相应位置超链接的url地址，为数组类型;
 * @param {Object} a_link_param 相应位置超链接的url地址中需要绑定的参数，为数组类型;
 * @param {Object} a_link_target 超链接弹出页面的方式设定，target，例如：_blank
 * @param {Object} a_fun_arr  超链接如果有函数，这里是函数名称，为数组类型;
 * @param {Object} a_fun_param_arr 函数中的参数字段，该字段需要在data中存在
 */
  	$.drawTrTd=function (
  		data,
  		tbody_id,
  		button_method_arr,
  		method_param_arr,
  		button_name_arr,
  		field_arr,
  		check_name,
  		select_lst_arr,
  		a_link_arr,
  		a_link_url,
  		a_link_param,
  		a_link_target,
  		a_fun_arr,
  		a_fun_param_arr,
  		a_attr_arr,
  		a_attr_value_arr){

  		$.each(data, function(i,value) {
  			var temp_str = '';

  			$('#' + tbody_id).append('<tr id="' + value.id + '">');

  			//列表checkbox选择组件创建
  			if(check_name != null){
  				$('#' + value.id).append('<td><input type="checkbox" name="' + check_name + '" id="check' + value.id + '" class="' + value.id + '"  value="' + value.classid + '" /></td>');
  			}

  			for(var i=0;i<field_arr.length;i++){
  				//单元格起始构建
  				temp = '<td>';

  				//判断是否有超链接
  				if(a_link_arr !=null && ($.inArray(field_arr[i],a_link_arr) != -1)){
  					var a_temp_str = '';

  					//超链接起始构建
  					if(a_link_param != null){
  						//如果url地址需要参数
  						a_temp_str += '<a href="' + a_link_url[$.inArray(field_arr[i],a_link_arr)];
  						//添加参数
  						for(var n=0;n<a_link_param.length;n++){
  							a_temp_str += '&' + a_link_param[n] + '=' + $.trim(eval('value.' + a_link_param[n]));
  						}
  						a_temp_str +=  '" ';
  					}else{
  						a_temp_str += '<a href="' + a_link_url[$.inArray(field_arr[i],a_link_arr)] + '" ';
  					}

  					//给超链接添加属性
  					if(a_attr_arr != null&& ($.inArray(field_arr[i],a_attr_arr) != -1)){
  						for(var m=0;m<a_attr_arr.length;m++){
  							a_temp_str += ' ' + a_attr_arr[m] + '="' + $.trim(eval('value.' + a_attr_arr[m])) + '"';
  						}
  					}

  					//onclick函数起始构建
  					if(a_fun_arr != null){
  						a_temp_str += 'onclick="' + a_fun_arr[$.inArray(field_arr[i],a_link_arr)]  + '(';
  					}

  					//函数的参数全构建
  					if(a_fun_param_arr != null){
  						for(var k=0;k<a_fun_param_arr.length;k++){
							a_temp_str += ($.trim(eval('value.' + a_fun_param_arr[k]))== undefined ? '': "'" + $.trim(eval('value.' + a_fun_param_arr[k]))) + "',";
  						}

  						a_temp_str = a_temp_str.substring(0,a_temp_str.lastIndexOf(','));
  						a_temp_str += (')"')
  					}

					if(a_link_target != null){
						a_temp_str += 'target=' + a_link_target + '>';
					}else{
						a_temp_str += '>';
					}



  					//添加超链接起始部分
					temp += a_temp_str;

  				}


  				//添加单元格内容部分
  				if($.inArray(field_arr[i],select_lst_arr) != -1){
  					//单元格内容如果是select组件中的value部分，需要转义的，通过在这里实现，但是javascript脚本最开始的部分需要添加相应的php代码带获取相应的数组，这部分内容在后期会进一步完善，会把该数组也放到该函数内来实现。
  					temp += (((eval('value.' + field_arr[i])== undefined) || ($.trim(eval('value.' + field_arr[i]))==''))? '': eval(field_arr[i] + '['  + eval('value.' + field_arr[i]) + ']'));
  				}else{
  					temp += ((eval('value.' + field_arr[i])== undefined || eval('value.' + field_arr[i])== false) ? '': eval('value.' + field_arr[i]));
  				}

  				//超链接结束标签构建
  				if(a_link_arr !=null && ($.inArray(field_arr[i],a_link_arr) != -1)){
  					temp += '</a>';
  				}

  				//单元格结束标签构建
  				temp += '</td>';

  				$('#' + value.id).append(temp);
  			}


  			if(button_method_arr != null){
  				for(var j=0;j<button_method_arr.length;j++){
  					if(method_param_arr != null){
  						var param_str = '';
  						temp_str += '<button class="btn btn-xs btn-primary" onclick="' + button_method_arr[j] + '(';
  						for(var k=0;k<method_param_arr.length;k++){
  							param_str += "'" + (eval('value.' + method_param_arr[k]) == undefined ? '':eval('value.' + method_param_arr[k])) + "',"
  						}
  						param_str = param_str.substring(0,param_str.length-1);
						temp_str += param_str;
  						temp_str += ')">' + button_name_arr[j] + '</button>&nbsp;|&nbsp;';
  					}else{
  						temp_str += '<button class="btn btn-xs btn-primary" onclick="' + button_method_arr[j] + '(' + value.id +')">' + button_name_arr[j] + '</button>&nbsp;|&nbsp;';
  					}

  				}
  				temp_str = temp_str.substring(0,temp_str.lastIndexOf('>')+1);
  				$('#' + value.id).append('<td>' + temp_str  + '</td>');
  			}
  	});
 }


	//学员今日状况列表分页操作
  	$('#pagination_advice_record').jqPagination({
						link_string	: '/?page={page_number}',
						max_page	: maxPage,
						paged		: function(page,param) {

						var pageNumber = (page-1)*pageCount //从第几行开始查询

						var form_data =  $('#advice_form_search').serializeArray();

						var keyword = $('#keywords').val();
						var search = new Object();
						search = {name:'keyword',value:keyword};

						form_data.push(search);

						$.ajax({
							type:'POST',
							async:false,
							cache:false,
							url:"{:U('advice_record')}&pageNumber=" + pageNumber + "&pageCount=" + pageCount + "&page=" + page,
							dataType:'json',
							data:form_data,
							success:function(msg,status){
								if(status=="success"){
									var page = this.url.split('&')[5].substr(5); //通过url请求路径中添加的参数来获取当前页码;
									currentPage = page; //设置当前页码
									maxPage = ((msg.maxCount % pageCount) == 0) ?  msg.maxCount/pageCount: parseInt(msg.maxCount/pageCount)+1; //最大页码;

									if(msg.data != null && msg.data.length > 0 ){
										$('#llst').empty();

										var button_method_arr = null;
										var button_name_arr = null;
										var field_arr = ['name','teacher','class','xueguan','type','last_state','timee','last_timee'];
										var select_lst_arr = ['type'];
										var check_name = null;
										var method_param_arr = null;
										var a_link_param = null;
										var a_link_arr = ['name'];
										var a_link_url = ['javascript:void(0);'];
										var a_attr_arr = null;
										var a_attr_value_arr = null;
										var a_link_target = null;
										var a_fun_arr = ['$.showInterflow'];
										var a_fun_param_arr = ['id'];

										$.drawTrTd(msg.data,'llst',button_method_arr,method_param_arr,
										button_name_arr,field_arr,check_name,select_lst_arr,a_link_arr,
										a_link_url,a_link_param,a_link_target,a_fun_arr,a_fun_param_arr,
										a_attr_arr,a_attr_value_arr);

									}else{
										$('#llst').empty();
									}

								}
							}
						});


						if(maxPage <= 0){
							this.page_string = '没有符合条件的记录';
							maxPage = 1;
						}else if(this.page_string == '没有符合条件的记录'){
							this.page_string = 'Page {current_page} of {max_page}';
						}

						this.current_page = (currentPage>=maxPage ? maxPage : currentPage);
						this.max_page = maxPage;


						$('#pagination_advice_record').jqPagination('option',{'current_page':currentPage,'trigger': false}); //设置分页插件的当前页码
					}

	});

	$('#search_adviceRecord').click(function(){
		 $('#pagination_advice_record').jqPagination('option',{'current_page':1,'trigger': true}); //设置分页插件的当前页码
	});

	$.submit_search = function(){
		$('#pagination_advice_record').jqPagination('option',{'current_page':1,'trigger': true}); //设置分页插件的当前页码
	};

	$.buildWall=function(data){
  		 var temp_str = '';

  		 if(!$.isArray(data)){
  		 	//针对一维数组的操作
	  		 		if(data.node_type == 0){
	  		 			temp_str += '<div class="panel panel-primary" style="margin:1px;">';
	  		 		}else{
	  		 			temp_str += '<div class="panel panel-warning" style="margin:1px;">';
	  		 		}
  		 		 temp_str += '<div class="panel-heading" role="tab" id="heading' + data.id + '">';
  		     temp_str += '<h4 class="panel-title">';
  		     temp_str += '<a role="button" data-toggle="collapse"  href="#collapse' + data.id + '" aria-expanded="true" aria-controls="collapse' + data.id + '">';
		  		 temp_str += data.teacher   +  '<span style="float:right;">' + data.timee + '</span>';
		  		 temp_str += '</a></h4></div>';
		  		 temp_str += '<div id="collapse' + data.id + '" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading' + data.id + '">';
		  		 temp_str += '<div class="panel-body">';
		  		 temp_str += data.advice;
		  		 if(data.node_type == 1){

			  		 	if($.isArray(data._child) && data._child.length>0){
			  		 		temp_str += '</div>';
			  		 		temp_str += $.buildWall(data._child);
			  		 	}else{
			  		 		temp_str += '<br/><a href="javascript:void(0);" style="float:right;" onclick="$.adviceReply(' + data.id + ',' + data.stuid + ')">回复</a></div>';
			  		 	}
		  		 }else{

		  		 		temp_str += '</div>';
			  		 	if($.isArray(data._child) && data._child.length>0){
			  		 		temp_str += $.buildWall(data._child)
			  		 	}

		  		 }

  		 }else if($.isArray(data)){
  		 	//针对二维数组的操作
	  		 	 if(data[0].node_type == 0){
	  		 			temp_str += '<div class="panel panel-primary" style="margin:1px;">';
	  		 		}else{
	  		 			temp_str += '<div class="panel panel-warning" style="margin:1px;">';
	  		 		}
  		 	   temp_str += '<div class="panel-heading" role="tab" id="heading' + data[0].id + '">';
  		     temp_str += '<h4 class="panel-title">';
  		     temp_str += '<a role="button" data-toggle="collapse"  href="#collapse' + data[0].id + '" aria-expanded="true" aria-controls="collapse' + data[0].id + '">';
  		 		 temp_str += data[0].teacher   +  '<span style="float:right;">' + data[0].timee + '</span>';
		  		 temp_str += '</a></h4></div>';
		  		 temp_str += '<div id="collapse' + data[0].id + '" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading' + data[0].id + '">';
		  		 temp_str += '<div class="panel-body">';
		  		 temp_str += data[0].advice;
		  		 if(data[0].node_type == 1){

			  		 	if($.isArray(data[0]._child) && data[0]._child.length>0){
			  		 		temp_str += '</div>';
			  		 		temp_str += $.buildWall(data[0]._child);
			  		 	}else{
			  		 		temp_str += '<br/><a href="javascript:void(0);" style="float:right;" onclick="$.adviceReply(' + data[0].id + ',' + data[0].stuid +  ')">回复</a></div>';
			  		 	}
		  		 }else{

		  		 		temp_str += '</div>';
			  		 	if($.isArray(data[0]._child) && data[0]._child.length>0){
			  		 		temp_str += $.buildWall(data[0]._child)
			  		 	}

		  		 }
  		 }

  		 	temp_str += '</div></div>';

  		  return temp_str;
  	}

	 //ajax显示页面建议对话内容
	 $.showInterflow=function(rid){

		 	$.ajax({
					type:'POST',
					async:false,
					cache:false,
					url:"{:U('showAdviceAndApply')}",
					dataType:'json',
					data:{'id':rid},
					success:function(msg,status){
						 //清空旧的显示内容
						 $('#adviceRecordDvid').empty();
//						 $('#rootTreeId').val(rid);
						 var temp_str = '<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">';

						 temp_str += $.buildWall(msg.data); //垒墙论坛回复模式内容创建；

						 //插入新的显示内容
						 $('#adviceRecordDvid').append(temp_str);

							$('#advice_dialog').modal('show');
					}
					});

	 }

	//列表项选择事件操作
	$("#llst").on('click','tr',null,function(){

      $("#llst tr").removeClass("active");
		  $(this).attr("class", "active");

    })

$('#keywords').keydown(function(event){
 		if(event.keyCode == 13){
 			$.submit_search();
 		}
 			
 	});
 	
});
</script>
<script type="text/javascript" src="__INS__/js/plugins/jqPagination/jquery.jqpagination.js"></script>
</block>
