<extend name="Layout/ins_page" />
<block name="content">
<link href="__INS__/js/plugins/jqPagination/css/jqpagination.css" rel="stylesheet"/>
<style type="text/css">
	#show_history{
		text-decoration:underline;
	}
	
	#show_history :visited {
    color:#00FF00;
    text-decoration:underline;
    }
    #show_history:hover {
    color:#000000;
    text-decoration:underline;
    }
    #show_history :active {
    color:#FFFFFF;
    text-decoration:none;
    }
    
</style>
{:W('PageHeader/search_definition',array('name'=>'无课教师查询'))}
<form method="post" id="teacher_form_search" name="form_adv_search">
  <div class="operate panel panel-default">
    <div class="panel-body">
      <div class="pull-left form-inline">
      	
          <label for="subject"><b>科目:</b></label>
          <select id="subject" name="subject" class="form-control"><option value="">全部</option>{:fill_option(C('SCHOOL_SUBJECT'))}
          </select>&nbsp;&nbsp;&nbsp;
       
        <label  for="teacher"><b>教师:</b></label>
        <select id="teacher" name="teacher" class="form-control col-10">
          <option value="">全部</option>
          
          <foreach name="xueguan" item="vx"><option value="{$vx}">{$vx}</option></foreach>
        </select>&nbsp;&nbsp;&nbsp;
        
        <label for="date"><b>日期:</b></label>
        <input type="date" id="date" name="timee"  class="form-control">&nbsp;&nbsp;&nbsp;
        
        <label for="t1"><b>上课起始时间:</b></label>
        <input type="time" id="t1" name="t1" class="form-control">——
        <label for="t2"><b>上课结束时间:</b></label>
        <input type="time" id="t2" name="t2" class="form-control">&nbsp;&nbsp;&nbsp;	
        	
        <input type="button" class="btn btn-sm btn-primary" name="search" value="查询" id="keshi_search" />
      </div>
    </div>
  </div>
</form>

<!--数据列表展示区域-->
<div class="row">
  <div class="col-sm-12 sub_left_menu ">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>校区</th>
          <th>科目</th>
          <th>老师姓名</th>
          <th>联系电话</th>
        </tr>
      </thead>
      <tbody id="llst">
        <volist name="data" id="obj">
          <tr>
            <td>{$obj.school}</td>
            <td>{$obj.subject}</td>
            <td>{$obj.name}</td>
            <td>{$obj.mobile_tel}</td>
          </tr>
        </volist>
      </tbody>
    </table>
     <!--学生信息列表分页-->
	  <div id="pagination_xg_teacher" class="pagination" style="float:right;margin-right:35px;">
				    <a href="#" class="first" data-action="first">&laquo;</a>
				    <a href="#" class="previous" data-action="previous">&lsaquo;</a>
				    <input type="text" readonly="readonly"  data-max-page="(({$maxCount} % pageCount) == 0) ?  {$maxCount}/pageCount: parseInt({$maxCount}/pageCount)+1"/>
				    <a href="#" class="next" data-action="next">&rsaquo;</a>
				    <a href="#" class="last" data-action="last">&raquo;</a>
		</div>
  </div>

</div>

<div class="loading"></div>
</block>
<block name="js">

<script type="text/javascript">
sid=0;
pageCount = 10; //每页显示多少条记录(全局变量)
currentPage = 1; //当前页码
maxPage = (({$maxCount} % pageCount) == 0) ?  {$maxCount}/pageCount: parseInt({$maxCount}/pageCount)+1; //最大页码
pageString = '';
course_state = {:json_encode(array_column(C('COURSE_STATES'),'name','id'))};
state = {:json_encode(C('STUDENT_STATE'))};
$(function(){

/**
 *
 * 绘制动态表格公用函数
 * @param {Object} data  表格实体数据，由后台返回;
 * @param {Object} tbody_id 涵盖该 tr的tbody的ID，为字符串类型;
 * @param {Object} button_method_arr 每行最后一格中的按钮对应的函数名称，为数组类型;
 * @param {Object} method_param_arr 按钮调用的方法的参数数组，为数组类型；
 * @param {Object} button_name_arr 每行最后一格中的按钮对应的名称，这里要和button_method_arr中的数据的顺序一致，为数组类型;
 * @param {Object} field_arr 表格中显示的各个内容对应的数据表的字段名称，这个要和数据库表的名称一致,为数组类型;
 * @param {Object} check_name 代表checkbox复选框的name的名称，方便后续的复选框操作，为字符串类型;
 * @param {Object} select_lst_arr  值为数字或者字符串，显示为汉字的下拉列表，对应的数组的名字,为数组类型;
 * @param {Object} a_link_arr 需要超链接包围的显示字段，为数组类型;
 * @param {Object} a_link_url 相应位置超链接的url地址，为数组类型;
 * @param {Object} a_link_param 相应位置超链接的url地址中需要绑定的参数，为数组类型;
 * @param {Object} a_link_target 超链接弹出页面的方式设定，target，例如：_blank
 * @param {Object} a_fun_arr  超链接如果有函数，这里是函数名称，为数组类型;
 * @param {Object} a_fun_param_arr 函数中的参数字段，该字段需要在data中存在
 */
  	$.drawTrTd=function (
  		data,
  		tbody_id,
  		button_method_arr,
  		method_param_arr,
  		button_name_arr,
  		field_arr,
  		check_name,
  		select_lst_arr,
  		a_link_arr,
  		a_link_url,
  		a_link_param,
  		a_link_target,
  		a_fun_arr,
  		a_fun_param_arr){

  		$.each(data, function(i,value) {
  			var temp_str = '';
			if(value.id == undefined){
				value.id = i;
			}
  			$('#' + tbody_id).append('<tr id="' + value.id + '">');

  			//列表checkbox选择组件创建
  			if(check_name != null){
  				$('#' + value.id).append('<td><input type="checkbox" name="' + check_name + '" id="check' + value.id + '" class="' + value.id + '"  value="' + value.classid + '" /></td>');
  			}

  			for(var i=0;i<field_arr.length;i++){
  				//单元格起始构建
  				temp = '<td>';

  				//判断是否有超链接
  				if(a_link_arr !=null && ($.inArray(field_arr[i],a_link_arr) != -1)){
  					var a_temp_str = '';

  					//超链接起始构建
  					if(a_link_param != null){
  						//如果url地址需要参数
  						a_temp_str += '<a href="' + a_link_url[$.inArray(field_arr[i],a_link_arr)];
  						//添加参数
  						for(var n=0;n<a_link_param.length;n++){
  							a_temp_str += '&' + a_link_param[n] + '=' + $.trim(eval('value.' + a_link_param[n]));
  						}
  						a_temp_str +=  '" ';
  					}else{
  						a_temp_str += '<a href="' + a_link_url[$.inArray(field_arr[i],a_link_arr)] + '" ';	
  					}
  					
  					//onclick函数起始构建
  					if(a_fun_arr != null){
  						a_temp_str += 'onclick="' + a_fun_arr[$.inArray(field_arr[i],a_link_arr)]  + '(';
  					}

  					//函数的参数全构建
  					if(a_fun_param_arr != null){
  						for(var k=0;k<a_fun_param_arr.length;k++){
							a_temp_str += ($.trim(eval('value.' + a_fun_param_arr[k]))== undefined ? '': "'" + $.trim(eval('value.' + a_fun_param_arr[k]))) + "',";
  						}

  						a_temp_str = a_temp_str.substring(0,a_temp_str.lastIndexOf(','));
  						a_temp_str += (')"')
  					}
					
					if(a_link_target != null){
						a_temp_str += 'target=' + a_link_target + '>';
					}else{
						a_temp_str += '>';	
					}
					
  					

  					//添加超链接起始部分
					temp += a_temp_str;

  				}


  				//添加单元格内容部分
  				if($.inArray(field_arr[i],select_lst_arr) != -1){
  					//单元格内容如果是select组件中的value部分，需要转义的，通过在这里实现，但是javascript脚本最开始的部分需要添加相应的php代码带获取相应的数组，这部分内容在后期会进一步完善，会把该数组也放到该函数内来实现。
  					temp += (((eval('value.' + field_arr[i])== undefined) || ($.trim(eval('value.' + field_arr[i]))==''))? '': eval(field_arr[i] + '['  + eval('value.' + field_arr[i]) + ']'));
  				}else{
  					temp += ((eval('value.' + field_arr[i])== undefined || eval('value.' + field_arr[i])== false) ? '': eval('value.' + field_arr[i]));
  				}

  				//超链接结束标签构建
  				if(a_link_arr !=null && ($.inArray(field_arr[i],a_link_arr) != -1)){
  					temp += '</a>';
  				}

  				//单元格结束标签构建
  				temp += '</td>';

  				$('#' + value.id).append(temp);
  			}


  			if(button_method_arr != null){
  				for(var j=0;j<button_method_arr.length;j++){
  					if(method_param_arr != null){
  						var param_str = '';
  						temp_str += '<button class="btn btn-xs btn-primary" onclick="' + button_method_arr[j] + '(';
  						for(var k=0;k<method_param_arr.length;k++){
  							param_str += "'" + (eval('value.' + method_param_arr[k]) == undefined ? '':eval('value.' + method_param_arr[k])) + "',"
  						}
  						param_str = param_str.substring(0,param_str.length-1);
						temp_str += param_str;
  						temp_str += ')">' + button_name_arr[j] + '</button>&nbsp;|&nbsp;';
  					}else{
  						temp_str += '<button class="btn btn-xs btn-primary" onclick="' + button_method_arr[j] + '(' + value.id +')">' + button_name_arr[j] + '</button>&nbsp;|&nbsp;';
  					}

  				}
  				temp_str = temp_str.substring(0,temp_str.lastIndexOf('>')+1);
  				$('#' + value.id).append('<td>' + temp_str  + '</td>');
  			}
  	});
 }
  	
  	$('#pagination_xg_teacher').jqPagination({
							link_string	: '/?page={page_number}',
							max_page	: maxPage,
							paged		: function(page,param) {
								
							var pageNumber = (page-1)*pageCount //从第几行开始查询
							
							var data = $('#teacher_form_search').serializeArray();
//							data.push($('#form_search').serializeArray()[0]);
							var keyword = $('#keywords').val();
							var search = new Object();
							search = {name:'keyword',value:keyword};
							
							data.push(search);
							
							$.ajax({
								type:'POST',
								async:false,
								cache:false,
								url:"{:U('xueguan_teacher_search')}&pageNumber=" + pageNumber + "&pageCount=" + pageCount + "&page=" + page,
								dataType:'json',
								data:data,
								success:function(msg,status){
									if(status=="success"){
										var page = this.url.split('&')[5].substr(5); //通过url请求路径中添加的参数来获取当前页码;
										currentPage = page; //设置当前页码
										maxPage = ((msg.maxCount % pageCount) == 0) ?  msg.maxCount/pageCount: parseInt(msg.maxCount/pageCount)+1; //最大页码;

										if(msg.data != null && msg.data.length > 0 ){
											$('#llst').empty();

											var button_method_arr = null;
											var button_name_arr = null;
											var field_arr = ['school','subject','name','mobile_tel'];
											var select_lst_arr = null;
											var check_name = null;
											var method_param_arr = null;
											var a_link_arr = null;
											var a_link_url = null;
											var a_link_param = null;
											var a_link_target = null;
											var a_fun_arr = null;//['$.showDialog'];
											var a_fun_param_arr = null;//['id','name','grade','wl','frequency','visit_type','std_id'];

											$.drawTrTd(msg.data,'llst',button_method_arr,method_param_arr,button_name_arr,field_arr,check_name,select_lst_arr,a_link_arr,a_link_url,a_link_param,a_link_target,a_fun_arr,a_fun_param_arr);

										}else{
											$('#llst').empty();
										}

									}
								}
							});

							if(maxPage <= 0){
								this.page_string = '没有符合条件的记录';
								maxPage = 1;
							}else if(this.page_string == '没有符合条件的记录'){
								this.page_string = 'Page {current_page} of {max_page}';
							}
							
							this.current_page = (currentPage>=maxPage ? maxPage : currentPage);
							this.max_page = maxPage;
							
							
							$('#pagination_xg_teacher').jqPagination('option',{'current_page':currentPage,'trigger': false}); //设置分页插件的当前页码
							Ycom.loading.hide();
						}

	});


	//列表项选择事件操作
	$("#llst").on('click','tr',null,function(){

      $("#llst tr").removeClass("active");
		  $(this).attr("class", "active");
		  
		  /*var std_id = $(this).attr('std_id');
		  
		  sid=$(this).attr('id');
          if(sid != 0){
		          $.ajax({
		          	type:'POST',
		          	cache:false,
		          	async:true,
		          	url: "{:U('maintain_task')}",
		          	data:{"id": sid},
		          	dataType:"json",
		          	success: function(msg){
		          	
					  $('#reset_visit_form').click();
		              $.setForm(msg.data);

		          	},
		          	failure:function(err){

		          		ui_error('error!');
		          	}
		          	});
          }*/


    });	
	
	//筛选查询按钮操作
	$('#keshi_search').click(function(){
		Ycom.loading.show();
		$('#pagination_xg_teacher').jqPagination('option',{'max_page':1,'trigger': false}); //设置分页插件的当前页码
		$('#pagination_xg_teacher').jqPagination('option',{'current_page':1,'trigger': true}); //设置分页插件的当前页码
	});
  
  
	$.submit_search= function(){
		Ycom.loading.show();
		$('#pagination_xg_teacher').jqPagination('option',{'max_page':1,'trigger': false}); //设置分页插件的当前页码
		$('#pagination_xg_teacher').jqPagination('option',{'current_page':1,'trigger': true}); //设置分页插件的当前页码
	};
	
	$('#keywords').keydown(function(event){
 		if(event.keyCode == 13){
 			$.submit_search();
 		}
 			
 	});
	
$('#subject').change(function(){
	$.ajax({
			type:'POST',
			async:true,
			cache:false,
			url:"{:U('get_teacher')}&subject=" + $(this).val(),
			dataType:'json',
			success:function(msg,status){
			 if(msg.data != null){
			 	$("#teacher").find("option").remove();
			 	$("#teacher").append("<option value=''>全部</option>");
			 	$.each(msg.data, function(i,name) {
			 		 $("#teacher").append("<option value='" + name['name'] + "'>" + name['vl'] + "</option>"); 
				 	});
				 }
				}
			});
});
	
	
});
</script>
<script type="text/javascript" src="__INS__/js/plugins/jqPagination/jquery.jqpagination.js"></script>
</block>
