<extend name="Layout/ins_page" />
<block name="content">
<style type="text/css">
	.export {
		margin:5px 5px;
	}
</style>
<link href="__INS__/js/plugins/jqPagination/css/jqpagination.css" rel="stylesheet"/>
 {:W('PageHeader/search_definition',array('name'=>'学员信息'))}
<!--查询筛选区域-->
<div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingQuery">
    	<div style="float:left;">信息筛选区</div>
      <h4 class="panel-title" style="float:right;">
	        <a class="glyphicon glyphicon-chevron-down" role="button" data-toggle="collapse" href="#collapseQuery" aria-expanded="true" aria-controls="collapseQuery">
	        </a>
      </h4>
      <div style="clear: both;"></div>
    </div>
    <div id="collapseQuery" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingQuery">
      <div class="panel-body">
        
        <form method="post" id="form_student_search_id" name="form_student_search"  class="form-inline" action="{:U('studentInfoFilter')}">
		  <div class="operate panel panel-default">
		    <div class="panel-body">
		      <div class="pull-left">
		      	<div class="input-group export">
		          <label  for="state_s" class="input-group-addon"><b>学员状态:</b></label>
		          <select id="state_s" name="stu_state" class="form-control col-10">
			          <option value="all">全部</option>
			          <option value="21">有效学员(有费)</option>
			          <option value="1">正常在读(有费,未上课时间不超过30天)</option>
			          <option value="2">停课(超过30天未上课)</option>
			          <option value="3">结课(课时为0)</option>
			          <option value="4">毕业</option>
			          <option value="5">退费</option>
			          <option value="6">自习学员</option>
			          <option value="17">无费，无排课</option>
		              <option value="18">有费，无排课</option>	
			        </select>
		        </div>
		        
		      	<!--<div class="input-group export">
		          <label  for="state" class="input-group-addon"><b>学员状态0:</b></label>
		          <select id="state_g" name="stu_state" class="form-control col-10">
			          <option value="">全部</option>
			          <option value="1">正常</option>
			          <option value="2">停课</option>
			          <option value="3">结课</option>
			          <option value="4">毕业</option>
			          <option value="5">退费</option>
			          <option value="6">自习学员</option>
			        </select>
		        </div>
		      	
		        <div class="input-group export">
		          <label  for="state" class="input-group-addon"><b>课程状态:</b></label>
		          <select id="state" name="state" class="form-control">
		            <option value="1">全部</option>
		            <option value="2">有费</option>
		            <option value="3">有费(未上课时间不超过30天)</option>
		            <option value="4">有费(超过30天未上课)</option>
		            <option value="5">无费，无排课</option>
		            <option value="6">有费，无排课</option>	
		          </select>
		        </div>-->
		
		        <div class="input-group export">
		          <label  for="course_type_id" class="input-group-addon"><b>课程分类</b></label>
		          <select id="course_type_id" name="course_type" class="form-control">
		            <option value="">全部</option>
		            <option value="一对一">一对一</option>
		            <option value="一对二">一对二</option>
		            <option value="班组">班组</option>
		            <option value="全日制">全日制</option>
		            <option value="特训营">特训营</option>
		          </select>
		        </div>
				<!--<div style="clear:both;margin:5px 5px;"></div> 起到分行的作用-->
		        <div class="input-group export">
		          <label  for="gradeid" class="input-group-addon"><b>年级</b></label>
		          <select id="gradeid" name="grade" class="form-control">
		            <option value="">全部</option>
		            {:fill_option_ex($gradeList)}
		         <!-- <optgroup label="初中">
		            <option value="初一">初一</option>
		            <option value="初二">初二</option>
		            <option value="初三">初三</option>
		          </optgroup>
		          <optgroup label="高中">
		            <option value="高一">高一</option>
		            <option value="高二">高二</option>
		            <option value="高三">高三</option>
		          </optgroup>-->
		          </select>
		        </div>
		        
		        <div class="input-group export">
		          <label  for="huifangid" class="input-group-addon"><b>回访频率</b></label>
		          <select id="huifangid" name="huifang" class="form-control">
		            <option value="">全部</option>
		            <option value="4">4天未回访</option>
		            <option value="7">7天未回访</option>
		            <option value="15">15天未回访</option>
		            <option value="30">30天未回访</option>
		          </select>
		        </div>
		        
		        <div class="input-group export">
		          <label  for="remainhoursid" class="input-group-addon"><b>剩余课时</b></label>
		          <select id="remainhoursid" name="remainhours" class="form-control">
		            <option value="">全部</option>
		            <option value="0">0</option>
		            <option value="0,10">0-10</option>
		            <option value="10,32">10-32</option>
		            <option value="32,65">32-65</option>
		            <option value="65,180">65-180</option>
		            <option value="180,380">180-380</option>
		            <option value="380">>380</option>
		          </select>
		        </div>
		        
		      </div>
		      <div class="pull-right">
		      <input type="submit" class="btn btn-sm btn-primary" name="search" value="查询" id="search" />
		      </div>
		    </div>
		  </div>
		</form>
      </div>
    </div>
</div>
  

<!--数据列表展示区域-->
<div class="row">
  <div class="col-sm-12 sub_left_menu ">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>学号</th>
          <th>校区</th>
          <th>姓名</th>
          <th>性别</th>
          <th>学校</th>
          <th>年级</th>
          <th>文/理</th>
          <th>联系电话</th>
          <th>学习管理师</th>
          <th>教学主任</th>
          <th>状态</th>
          <th>总课时</th>
          <th>剩余课时</th>
     
        </tr>
      </thead>
      <tbody id="llst">
        <volist name="list" id="data">
          <tr id="{$data.std_id}">
            <td>{$data.std_id}</td>
            <td>{$data.school}</td>
            <td><a href="{:U('xg_base_info')}&name={$data.name}&std_id={$data.std_id}&id={$data.id}" target="_blank">{$data.name}</a></td>
            <td>{$data.sex}</td>
            <td>{$data.schoolx}</td>
            <td>
            	<switch name="data.grade">
	                <case value="22">高三</case>
	                <case value="21">高二</case>
	                <case value="20">高一</case>
	                <case value="50">九年级</case>
	                <case value="40">八年级</case>
	                <case value="39">七年级</case>
	                <case value="38">六年级</case>
	                <case value="93">五年级</case>
	                <case value="100">四年级</case>
	                <case value="101">三年级</case>
	                <case value="102">二年级</case>
	                <case value="103">一年级</case>
                </switch>
            </td>
            <td>{$data.wl}</td>
            <td>{$data.tel}</td>
            <td>{$data.xueguan}</td>
            <td>{$data.jiaoxue}</td>
            <td>{:C('STUDENT_STATE')[$data['state']]}</td>
            <!--<td>
            <switch name="data.course_state" >
                <case value="200">正常</case>
                <case value="250">暂停排课</case>
                <case value="300">已结课</case>
                <case value="500">已退费</case>
                </switch>
            </td>-->
            <td>{$data.hour}</td>
            <td>{$data.remain_hour}</td>
            
          </tr>
        </volist>
      </tbody>
    </table>
     <!--学生信息列表分页-->
	  <div id="pagination_students" class="pagination" style="float:right;margin-right:35px;">
				    <a href="#" class="first" data-action="first">&laquo;</a>
				    <a href="#" class="previous" data-action="previous">&lsaquo;</a>
				    <input id="pager_input" type="text" readonly="readonly"  data-max-page="(({$maxCount} % pageCount) == 0) ?  {$maxCount}/pageCount: parseInt({$maxCount}/pageCount)+1"/>
				    <a href="#" class="next" data-action="next">&rsaquo;</a>
				    <a href="#" class="last" data-action="last">&raquo;</a>
		</div>
		<div class="pagination" style="float:right;margin-right:20px;">当前页共<span id="current_num"></span>条/总共<span id="all_num"></span>条</div>
  </div>

</div>
</block>
<block name="js">
<script type="text/javascript">
sid=0;
pageCount = 10; //每页显示多少条记录(全局变量)
currentPage = 1; //当前页码
maxPage = (({$maxCount} % pageCount) == 0) ?  {$maxCount}/pageCount: parseInt({$maxCount}/pageCount)+1; //最大页码
pageString = '';
course_state = {:json_encode(array_column(C('COURSE_STATES'),'name','id'))};
state = {:json_encode(C('STUDENT_STATE'))};
grade = {:json_encode($gradelst)};
  $(document).ready(function(){
  	
  	
/**
 *
 * 绘制动态表格公用函数
 * @param {Object} data  表格实体数据，由后台返回;
 * @param {Object} tbody_id 涵盖该 tr的tbody的ID，为字符串类型;
 * @param {Object} button_method_arr 每行最后一格中的按钮对应的函数名称，为数组类型;
 * @param {Object} method_param_arr 按钮调用的方法的参数数组，为数组类型；
 * @param {Object} button_name_arr 每行最后一格中的按钮对应的名称，这里要和button_method_arr中的数据的顺序一致，为数组类型;
 * @param {Object} field_arr 表格中显示的各个内容对应的数据表的字段名称，这个要和数据库表的名称一致,为数组类型;
 * @param {Object} check_name 代表checkbox复选框的name的名称，方便后续的复选框操作，为字符串类型;
 * @param {Object} select_lst_arr  值为数字或者字符串，显示为汉字的下拉列表，对应的数组的名字,为数组类型;
 * @param {Object} a_link_arr 需要超链接包围的显示字段，为数组类型;
 * @param {Object} a_link_url 相应位置超链接的url地址，为数组类型;
 * @param {Object} a_link_param 相应位置超链接的url地址中需要绑定的参数，为数组类型;
 * @param {Object} a_link_target 超链接弹出页面的方式设定，target，例如：_blank
 * @param {Object} a_fun_arr  超链接如果有函数，这里是函数名称，为数组类型;
 * @param {Object} a_fun_param_arr 函数中的参数字段，该字段需要在data中存在
 */
  	$.drawTrTd=function (
  		data,
  		tbody_id,
  		button_method_arr,
  		method_param_arr,
  		button_name_arr,
  		field_arr,
  		check_name,
  		select_lst_arr,
  		a_link_arr,
  		a_link_url,
  		a_link_param,
  		a_link_target,
  		a_fun_arr,
  		a_fun_param_arr){

  		$.each(data, function(i,value) {
  			var temp_str = '';

  			$('#' + tbody_id).append('<tr id="' + value.id + '">');

  			//列表checkbox选择组件创建
  			if(check_name != null){
  				$('#' + value.id).append('<td><input type="checkbox" name="' + check_name + '" id="check' + value.id + '" class="' + value.id + '"  value="' + value.classid + '" /></td>');
  			}

  			for(var i=0;i<field_arr.length;i++){
  				//单元格起始构建
  				temp = '<td>';

  				//判断是否有超链接
  				if(a_link_arr !=null && ($.inArray(field_arr[i],a_link_arr) != -1)){
  					var a_temp_str = '';

  					//超链接起始构建
  					if(a_link_param != null){
  						//如果url地址需要参数
  						a_temp_str += '<a href="' + a_link_url[$.inArray(field_arr[i],a_link_arr)];
  						//添加参数
  						for(var n=0;n<a_link_param.length;n++){
  							a_temp_str += '&' + a_link_param[n] + '=' + $.trim(eval('value.' + a_link_param[n]));
  						}
  						a_temp_str +=  '" ';
  					}else{
  						a_temp_str += '<a href="' + a_link_url[$.inArray(field_arr[i],a_link_arr)] + '" ';	
  					}
  					
  					//onclick函数起始构建
  					if(a_fun_arr != null){
  						a_temp_str += 'onclick="' + a_fun_arr[$.inArray(field_arr[i],a_link_arr)]  + '(';
  					}

  					//函数的参数全构建
  					if(a_fun_param_arr != null){
  						for(var k=0;k<a_fun_param_arr.length;k++){
							a_temp_str += ($.trim(eval('value.' + a_fun_param_arr[k]))== undefined ? '': "'" + $.trim(eval('value.' + a_fun_param_arr[k]))) + "',";
  						}

  						a_temp_str = a_temp_str.substring(0,a_temp_str.lastIndexOf(','));
  						a_temp_str += (')"')
  					}
					
					if(a_link_target != null){
						a_temp_str += 'target=' + a_link_target + '>';
					}else{
						a_temp_str += '>';	
					}
					
  					

  					//添加超链接起始部分
					temp += a_temp_str;

  				}


  				//添加单元格内容部分
  				if($.inArray(field_arr[i],select_lst_arr) != -1){
  					//单元格内容如果是select组件中的value部分，需要转义的，通过在这里实现，但是javascript脚本最开始的部分需要添加相应的php代码带获取相应的数组，这部分内容在后期会进一步完善，会把该数组也放到该函数内来实现。
  					temp += (((eval('value.' + field_arr[i])== undefined) || ($.trim(eval('value.' + field_arr[i]))==''))? '': eval(field_arr[i] + '['  + eval('value.' + field_arr[i]) + ']'));
  				}else{
  					temp += ((eval('value.' + field_arr[i])== undefined || eval('value.' + field_arr[i])== false) ? '': eval('value.' + field_arr[i]));
  				}

  				//超链接结束标签构建
  				if(a_link_arr !=null && ($.inArray(field_arr[i],a_link_arr) != -1)){
  					temp += '</a>';
  				}

  				//单元格结束标签构建
  				temp += '</td>';

  				$('#' + value.id).append(temp);
  			}


  			if(button_method_arr != null){
  				for(var j=0;j<button_method_arr.length;j++){
  					if(method_param_arr != null){
  						var param_str = '';
  						temp_str += '<button class="btn btn-xs btn-primary" onclick="' + button_method_arr[j] + '(';
  						for(var k=0;k<method_param_arr.length;k++){
  							param_str += "'" + (eval('value.' + method_param_arr[k]) == undefined ? '':eval('value.' + method_param_arr[k])) + "',"
  						}
  						param_str = param_str.substring(0,param_str.length-1);
						temp_str += param_str;
  						temp_str += ')">' + button_name_arr[j] + '</button>&nbsp;|&nbsp;';
  					}else{
  						temp_str += '<button class="btn btn-xs btn-primary" onclick="' + button_method_arr[j] + '(' + value.id +')">' + button_name_arr[j] + '</button>&nbsp;|&nbsp;';
  					}

  				}
  				temp_str = temp_str.substring(0,temp_str.lastIndexOf('>')+1);
  				$('#' + value.id).append('<td>' + temp_str  + '</td>');
  			}
  	});
 }
				  		
  	
  	$('#current_num').text({$list|count});
  	$('#all_num').text({$maxCount});
  	
	//教师授课列表分页操作
  	$('#pagination_students').jqPagination({
						link_string	: '/?page={page_number}',
						max_page	: maxPage,
						paged		: function(page,param) {
							
						var pageNumber = (page-1)*pageCount //从第几行开始查询
						
						var form_data =  $('#form_student_search_id').serializeArray();
						
						$.ajax({
							type:'POST',
							async:false,
							cache:false,
							url:"{:U('studentInfoFilter')}&pageNumber=" + pageNumber + "&pageCount=" + pageCount + "&page=" + page,
							dataType:'json',
							data:form_data,
							success:function(msg,status){
								if(status=="success"){
									var page = this.url.split('&')[5].substr(5); //通过url请求路径中添加的参数来获取当前页码;
									currentPage = page; //设置当前页码
									maxPage = ((msg.maxCount % pageCount) == 0) ?  msg.maxCount/pageCount: parseInt(msg.maxCount/pageCount)+1; //最大页码;

									if(msg.data != null && msg.data.length > 0 ){
										$('#llst').empty();

										var button_method_arr = null;
										var button_name_arr = null;
										var field_arr = ['std_id','school','name','sex','schoolx','grade','wl','tel','xueguan','jiaoxue','state','hour','remain_hour'];
										var select_lst_arr = ['state','grade'];
										var check_name = null;
										var method_param_arr = null;
										var a_link_arr = ['name'];
										var a_link_url = ["{:U('xg_base_info')}"];
										var a_link_param = ['name','std_id','id'];
										var a_link_target = '_blank';
										var a_fun_arr = null;
										var a_fun_param_arr = null;

										$.drawTrTd(msg.data,'llst',button_method_arr,method_param_arr,button_name_arr,field_arr,check_name,select_lst_arr,a_link_arr,a_link_url,a_link_param,a_link_target,a_fun_arr,a_fun_param_arr);
										$('#current_num').text(msg.data.length);
										$('#all_num').text(msg.maxCount);
									}else{
										$('#current_num').text(0);
										$('#all_num').text(0);
										$('#llst').empty();
									}

								}
							}
						});

						
						if(maxPage <= 0){
							this.page_string = '没有符合条件的记录';
							maxPage = 1;
						}else if(this.page_string == '没有符合条件的记录'){
							this.page_string = 'Page {current_page} of {max_page}';
						}
						
						this.current_page = (currentPage>=maxPage ? maxPage : currentPage);
						this.max_page = maxPage;
						
						
						$('#pagination_students').jqPagination('option',{'current_page':currentPage,'trigger': false}); //设置分页插件的当前页码
					}

	});
	
  	
    $(".sub_left_menu tbody tr").click(function() {
          $(".sub_left_menu tbody tr.active").removeClass("active");
          $(this).attr("class", "active");
         
    })
   

/**
 * 搜索区域隐藏与显示控制
 */
	$('#headingQuery a').click(function() {
			 
	  if($(this).is('.glyphicon.glyphicon-chevron-down')){
	  	$('#headingQuery a').attr('class','glyphicon glyphicon-chevron-up');
	  }else{
	  	$('#headingQuery a').attr('class','glyphicon glyphicon-chevron-down');
	  }
			
	});


 $('#form_student_search_id').submit(function(event){
 	event.preventDefault();
 	
 		var form_data =  $('#form_student_search_id').serializeArray();
	 		
	 		$.ajax({
				type:'POST',
				async:false,
				cache:false,
				url:"{:U('studentInfoFilter')}&pageNumber=0&pageCount=" + pageCount,
				dataType:'json',
				data:form_data,
				success:function(msg,status){
					if(msg.data != null && msg.data.length > 0 ){
							$('#llst').empty();
							
							var button_method_arr = null;
							var button_name_arr = null;
							var field_arr = ['std_id','school','name','sex','schoolx','grade','wl','tel','xueguan','jiaoxue','state','hour','remain_hour'];
							var select_lst_arr = ['state','grade'];
							var check_name = null;
							var method_param_arr = null;
							var a_link_arr = ['name'];
							var a_link_url = ["{:U('xg_base_info')}"];
							var a_link_param = ['name','std_id','id'];
							var a_link_target = '_blank';
							var a_fun_arr = null;
							var a_fun_param_arr = null;

							$.drawTrTd(msg.data,'llst',button_method_arr,method_param_arr,button_name_arr,field_arr,check_name,select_lst_arr,a_link_arr,a_link_url,a_link_param,a_link_target,a_fun_arr,a_fun_param_arr);
							
							$('#current_num').text(msg.data.length);
							$('#all_num').text(msg.maxCount);
										
							maxPage = ((msg.maxCount % pageCount) == 0) ?  msg.maxCount/pageCount: parseInt(msg.maxCount/pageCount)+1; //最大页码;
							
							maxPage = maxPage > 0 ? maxPage : 1;
							
							$('#pagination_students').jqPagination('option',{'max_page':maxPage,'current_page':1,'trigger': false}); //设置分页插件的当前页码
//							$('#pagination_students').jqPagination('option',{'max_page':maxPage,'trigger': false}); //设置分页插件的最大页码
						}else{
							$('#pagination_students').jqPagination('option',{'max_page':1,'current_page':1,'trigger': false}); //设置分页插件的当前页码
//							$('#pagination_students').jqPagination('option',{'max_page':1,'trigger': false}); //设置分页插件的最大页码
							$('#llst').empty();
						}
				},
				failure:function(msg,status){
					
				}
				});
 	});
 	
 	
 	$.submit_search=function(){
 		
 		var keyword = $('#keywords').val();		
 		if($.isEmptyObject(keyword)){
 			ui_alert("<img src='__INS__/img/error.jpg' width='20%' height='20%' alt='buhaoshi'/><font color='red' style='font-size:18px;'>请输入查询的关键字！</font>");
 			return;
 		}
 		var form_data =  $('#form_student_search_id').serializeArray();
			
	 		$.ajax({
				type:'POST',
				async:false,
				cache:false,
				url:"{:U('studentInfoFilter')}&pageNumber=0&pageCount=" + pageCount + "&keyword=" + keyword,
				dataType:'json',
				data:form_data,
				success:function(msg,status){
					if(msg.data != null && msg.data.length > 0 ){
							$('#llst').empty();
							
							var button_method_arr = null;
							var button_name_arr = null;
							var field_arr = ['std_id','school','name','sex','schoolx','grade','wl','tel','xueguan','jiaoxue','state','hour','remain_hour'];
							var select_lst_arr = ['state','grade'];
							var check_name = null;
							var method_param_arr = null;
							var a_link_arr = ['name'];
							var a_link_url = ["{:U('xg_base_info')}"];
							var a_link_param = ['name','std_id','id'];
							var a_link_target = '_blank';
							var a_fun_arr = null;
							var a_fun_param_arr = null;

							$.drawTrTd(msg.data,'llst',button_method_arr,method_param_arr,button_name_arr,field_arr,check_name,select_lst_arr,a_link_arr,a_link_url,a_link_param,a_link_target,a_fun_arr,a_fun_param_arr);

							$('#current_num').text(msg.data.length);
							$('#all_num').text(msg.maxCount);
										
							maxPage = ((msg.maxCount % pageCount) == 0) ?  msg.maxCount/pageCount: parseInt(msg.maxCount/pageCount)+1; //最大页码;
							
							maxPage = maxPage > 0 ? maxPage : 1;
							
							$('#pagination_students').jqPagination('option',{'max_page':maxPage,'current_page':1,'trigger': false}); //设置分页插件的当前页码
//							$('#pagination_students').jqPagination('option',{'max_page':maxPage,'trigger': false}); //设置分页插件的最大页码
						}else{
							$('#pagination_students').jqPagination('option',{'max_page':1,'current_page':1,'trigger': false}); //设置分页插件的当前页码
//							$('#pagination_students').jqPagination('option',{'max_page':1,'trigger': false}); //设置分页插件的最大页码
							$('#llst').empty();
						}
				},
				failure:function(msg,status){
					
				}
				});
 }
 	
 	$('#keywords').keydown(function(event){
 		if(event.keyCode == 13){
 			$.submit_search();
 		}
 			
 	});

});

 

</script>
<script type="text/javascript" src="__INS__/js/plugins/jqPagination/jquery.jqpagination.js"></script>
</block>
